<div class="login-box" [ngClass]="{ 'hidden': loginBoxHidden }">
    
    <h1>Log in</h1>
    <div class="signup-label">
      <p>Don’t have an ccount? </p>
      <a href="register" (click)="goRegister">Sign up</a>
    </div>
    
    <asl-google-signin-button type='standard' shape="pill" size='large' text="signup_with"></asl-google-signin-button>
  
    <div class="or-box"><p>OR</p></div>
    
    <div class="log-info">
      <div class="email">
        <p>Your email</p>
        <input type="text" class="styled-input" >
      </div>
    
      <div class="password">
        <p>Your password</p>
        <a href="#"><img src="../assets/images/icons/eye-hide.svg"><p>Hide</p></a>
        <input type="password" class="styled-input" >
      </div>
    </div>
    
    <a class="login-btn" href="#" [ngClass]="{ 'filled': isFormFilled() }" (click)="login()">
      <p>Log in</p>
    </a>
  
  </div>

<div class="header">
    <a class="main-a" routerLink=""><img src="../assets/images/logo/logo.png"></a>
    

    <div class="right">
       
        <div *ngIf="currentUser$ | async as user"  class="profile" (click)="dropdownOpen = !dropdownOpen">
          <img class="settings dropdown-arrow" src="../assets/images/icons/more-btn.svg">
          <img class="avatar" [src]="user?.imageUrl ? user.imageUrl : '../assets/images/icons/man-user.svg'">
      </div>
      <a *ngIf="!(currentUser$ | async)" class="login" (click)="toggleLoginBox()"><p>Log In</p></a> 
        
    </div>
</div>

<!-- Меню профиля -->
<div class="dropdown-menu" *ngIf="dropdownOpen">
    <ul>
        <li><a>Messages</a></li>
        <li><a>Trips</a></li>
        <li><a [routerLink]="'/wishlists'">Wishlists</a></li>
        <li><a [routerLink]="'/account-settings'">Account</a></li>
        <li><a>Gift card</a></li>
        <li><a [routerLink]="'/helpcenter'">Help center</a></li>
        <li (click)="logOut()"><a>Log out</a></li>
    </ul>
</div>