.hidden {
    visibility: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Змінив ширину на 100% */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачний фон */
    z-index: 998; /* Поверх всіх інших елементів, але під модальним вікном */
}

.login-box {
    position: absolute;
    left: 30%;
    top: 50px;
    z-index: 999;
    max-width: 795px;
    width: 100%;
    height: 760px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 24px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    background-color: white;

    @media (min-width: 766px) and (max-width: 1400px) {
        left: 5%;
    }

    @media (max-width: 766px) {
        left: 0%;
    }

    .logo {
        margin-top: 50px;
        width: 48px;
        height: 48px;
        background-color: red;
        border-radius: 50%;
    }

    h1 {
        margin-top: 100px;
        font-size: 32px;
        line-height: 48px;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
    }

    .signup-label {
        display: flex;
        flex-direction: row;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;

        p {
            margin: 0;
        }

        a {
            margin: 0;
            color: black;
            margin-left: 5px;

            &:hover {
                color: blueviolet;
            }
        }
    }

    .social-google {
        display: flex;
        flex-direction: row;
        max-width: 528px;
        width: 80%;
        height: 72px;
        border-radius: 40px;
        border: 1px solid black;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
        transition: background-color 0.3s ease;
        margin-top: 40px;

        @media (max-width: 766px) {
            max-width: 70%;
        }

        img {
            width: 24px;
            height: 24px;
        }

        h2 {
            font-family: 'Avenir', sans-serif;
            margin: 0;
            margin-left: 16px;
            font-size: 22px;
            font-weight: 400;
            line-height: 30.05px;
        }

        &:hover {
            background-color: rgb(230, 229, 229);
        }
    }

    .or-box {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        align-items: center;
        justify-content: center;

        @media (max-width: 766px) {
            width: 100%;
        }

        hr {
            border: none;
            height: 2px;
            width: 223.5px;
            background-color: #66666640;
            margin: 0;

            @media (max-width: 766px) {
                max-width: 30%;
            }
        }

        p {
            font-family: 'Avenir', sans-serif;
            font-size: 24px;
            line-height: 32.78px;
            font-weight: 400;
            margin-left: 23px;
            margin-right: 23px;
            margin-top: 0;
            margin-bottom: 0;
            color: #666666;
        }
    }

    .log-info {
        margin-top: 40px;

        .password {
            margin-top: 40px;
        }

        p {
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            line-height: 16px;
            color: #666666;
            margin-bottom: 7px;
        }

        a {
            font-size: 18px;
            line-height: 27px;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            text-decoration: none;
            color: #666666CC;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            margin-top: -27px;
            margin-bottom: 7px;
            margin-right: 5px;

            p {
                margin: 0;
            }

            img {
                width: 24px;
                height: 24px;
            }
        }

        input {
            width: 528px;
            height: 56px;
            border-radius: 12px;
            border: 1px solid #66666659;
            padding: 10px;
            box-sizing: border-box;
            font-size: 16px;

            @media (max-width: 766px) {
                width: 100%;
            }
        }
    }

    .login-btn {
        max-width: 528px;
        width: 100%;
        height: 64px;
        border-radius: 40px;
        background-color: #111111;
        opacity: 25%;
        font-family: "Poppins", sans-serif;
        color: white;
        font-size: 22px;
        font-weight: 500;
        line-height: 33px;
        text-align: center;
        text-decoration: none;
        margin-top: 40px;

        p {
            margin: 0;
            margin-top: 15px;
        }

        @media (max-width: 766px) {
            width: 60%;
        }
    }

    .login-btn.filled {
        background-color: #C99228;
        opacity: 100%;
    }
}



.header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #D9D9D9;
    height: 93px;
    @media (max-width: 766px) {
        display: none;
    }
    .main-a {
            margin-left: 5%;
            margin-top: 31px;

            img { 
                width: 200px;
                height: 32px;
            }
    }

    .login {
       
        width: 107px;
        height: 55px;
        border-radius: 26px;
        background-color: #2288E6;
        color: white;
        text-align: center;
        margin-right: 5%;
        cursor: pointer;

        p {
            margin: 0;
            margin-top: 15px;
            font-size: 22px;
            font-weight: 600;
        }
    }

    .right {
        margin-left: auto;
        display: flex;
        flex-direction: right;
        align-items: center;
        margin-right: 5%;
        div {
            margin-left: 28px;
            cursor: pointer;
        }

        .language {
            margin-right: 28px;
            @media (max-width: 766px) {
                display: none;
            }
        }

        .currency {
            @media (max-width: 766px) {
                display: none;
            }
        }

        .profile {
            margin-right: 96px;
            width: 96px;
            height: 49px;
            border: 1px solid #CDC4C4;
            border-radius: 24.5px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            @media (max-width: 766px) {
                margin-right: 5%;
            }

            cursor: pointer;
            

            .avatar {
                width: 33px;
                height: 33px;
                margin-left: 7px;
                border-radius: 100%;
                object-fit: cover;
            }

            .settings {
                margin-right: 7px;

            }

        }
    }
}

.dropdown-menu {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 65px;
    /* Регулируйте положение меню здесь */
    right: 100px;
    width: 320px;
    height: 370px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
    padding-top: 37px;

    @media (max-width: 766px) {
        right: 1%;
    }
 

    ul {

        li {
            font-size: 22px;

            margin-bottom: 10px;
            p {
                margin-left: 20px;
            }
            a {
                padding-left: 20px;
                text-decoration: none;
                color: black;
                margin: 0;
            }
        }

        .first {
            cursor:default;
        }

        
    }
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu ul li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-menu ul li:hover {
    background-color: #f0f0f0;
}

.dropdown-menu ul .first:hover {
    background-color: white;
            
}

.profile {
    position: relative;
    /* Добавляем относительное позиционирование */
}

.footer {
    width: 100%;
    height: 86px;
    box-shadow: 0px -4px 13.7px 0px #00000040;
    position: fixed;
    background-color: white;
    left: 0;
    bottom: 0; /* Вместо top: 850px */
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    @media (max-width: 766px) {
        display: flex;
    }

    .avatar {
        width: 30px;
        height: 30px;
    }
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 15px;
        padding-top: 10px;
    }
}