@charset "UTF-8";
.hidden {
  visibility: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* полупрозрачный цвет фона */
  z-index: 999; /* устанавливаем поверх всех других элементов */
}

.login-box {
  position: absolute;
  left: 30%;
  top: 50px;
  z-index: 9999;
  max-width: 795px;
  width: 100%;
  height: 821px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 24px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding-top: 40px;
}
.login-box .logo {
  width: 48px;
  height: 48px;
  background-color: red;
  border-radius: 50%;
}
.login-box h1 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.login-box .signup-label {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.login-box .signup-label p {
  margin: 0;
}
.login-box .signup-label a {
  margin: 0;
  color: black;
  margin-left: 5px;
}
.login-box .signup-label a:hover {
  color: blueviolet;
}
.login-box .social-google {
  display: flex;
  flex-direction: row;
  max-width: 528px;
  width: 100%;
  height: 72px;
  border-radius: 40px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s ease;
  margin-top: 40px;
}
.login-box .social-google img {
  width: 24px;
  height: 24px;
}
.login-box .social-google h2 {
  font-family: "Avenir", sans-serif;
  margin: 0;
  margin-left: 16px;
  font-size: 22px;
  font-weight: 400;
  line-height: 30.05px;
}
.login-box .social-google:hover {
  background-color: rgb(230, 229, 229);
}
.login-box .or-box {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}
.login-box .or-box hr {
  border: none; /* Убираем рамку */
  height: 2px; /* Высота линии */
  width: 223.5px;
  background-color: rgba(102, 102, 102, 0.2509803922); /* Цвет линии */
  margin: 0; /* Отступы */
}
.login-box .or-box p {
  font-family: "Avenir", sans-serif;
  font-size: 24px;
  line-height: 32.78px;
  font-weight: 400;
  margin-left: 23px;
  margin-right: 23px;
  margin-top: 0;
  margin-bottom: 0;
  color: #666666;
}
.login-box .log-info {
  margin-top: 40px;
}
.login-box .log-info .password {
  margin-top: 40px;
}
.login-box .log-info p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  margin-bottom: 7px;
}
.login-box .log-info a {
  font-size: 18px;
  line-height: 27px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: rgba(102, 102, 102, 0.8);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: -27px;
  margin-bottom: 7px;
  margin-right: 5px;
}
.login-box .log-info a p {
  margin: 0;
}
.login-box .log-info a img {
  width: 24px;
  height: 24px;
}
.login-box .log-info input {
  width: 528px;
  height: 56px;
  border-radius: 12px;
  border: 1px solid rgba(102, 102, 102, 0.3490196078); /* Чтобы добавить рамку, укажите толщину и цвет */
  padding: 10px; /* Добавляем отступы внутри инпута */
  box-sizing: border-box; /* Учитываем padding и border внутри width и height */
  font-size: 16px; /* Размер текста */
  /* Выравнивание текста по центру */
}
.login-box .login-btn {
  max-width: 528px;
  width: 100%;
  height: 64px;
  border-radius: 40px;
  background-color: #111111;
  opacity: 25%;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  text-decoration: none;
  margin-top: 40px;
}
.login-box .login-btn p {
  margin: 0;
  margin-top: 15px;
}
.login-box .login-btn.filled {
  background-color: #C99228;
  opacity: 100%; /* Цвет кнопки, когда поля заполнены */
}

header {
  width: 90%;
  position: relative;
  top: 50px;
  left: 149px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
header h1 {
  margin: 0;
  font-weight: 300;
  font-size: 56px;
}
header select {
  border: none;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  right: 290px;
  cursor: pointer;
}
header a {
  width: 107px;
  height: 55px;
  border-radius: 26px;
  background-color: #2288E6;
  color: white;
  text-align: center;
  position: absolute;
  cursor: pointer;
  right: 155px;
}
header a p {
  margin: 0;
  margin-top: 15px;
  font-size: 22px;
  font-weight: 600;
}

.search-box {
  margin-top: 191px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-box h2 {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 70px;
  font-weight: 800;
  line-height: 85px;
  letter-spacing: 0em;
}
.search-box .search-menu {
  margin-top: 28px;
  width: 100%;
  max-width: 1298px;
  height: 84px;
  border-radius: 48px;
  border: 2px solid #E0E0E0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-box .search-menu .search-img {
  width: 24px;
  height: 24px;
  margin-left: 28px;
}
.search-box .search-menu .search-input {
  border: none;
  outline: none;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  margin-left: 12px;
}
.search-box .search-menu .vertical-hr {
  margin: 0;
  border: none; /* Убираем границу */
  height: 24px; /* Устанавливаем высоту */
  width: 2px; /* Ширина линии */
  background-color: #E0E0E0; /* Цвет линии */
}
.search-box .search-menu .search-calendar {
  width: 24px;
  height: 24px;
  margin-left: 75px;
}
.search-box .search-menu a {
  font-size: 20px;
  color: #757575;
  text-decoration: none;
  margin-left: 12px;
}
.search-box .search-menu .search-arrow {
  width: 24px;
  height: 24px;
  margin-left: 12px;
}
.search-box .search-menu .vertical-hr2 {
  margin: 0;
  margin-left: 75px;
  border: none; /* Убираем границу */
  height: 24px; /* Устанавливаем высоту */
  width: 2px; /* Ширина линии */
  background-color: #E0E0E0; /* Цвет линии */
}
.search-box .search-menu .search-people {
  width: 24px;
  height: 24px;
  margin-left: 75px;
}
.search-box .search-menu p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #757575;
  margin-left: 12px;
}
.search-box .search-menu .people-count {
  margin-left: 75px;
}
.search-box .search-menu .people-count button {
  background-color: white;
  color: black;
  border: 0;
  font-size: 24px;
  cursor: pointer;
}
.search-box .search-menu .people-count span {
  font-size: 20px;
  margin-left: 16px;
  margin-right: 16px;
}
.search-box .search-menu .btn-search {
  font-family: "Montserrat", sans-serif;
  width: 131px;
  height: 64px;
  border-radius: 34px;
  background-color: #2288E6;
  cursor: pointer;
  text-align: center;
  margin-left: 105px;
}
.search-box .search-menu .btn-search p {
  margin: 0;
  line-height: 24.38px;
  color: white;
  font-size: 20px;
  margin-top: 20px;
}

.filters-carousel {
  font-family: "Montserrat", sans-serif;
  width: 1441px;
  margin-left: -150px;
  margin-top: 48px;
  z-index: 0;
}
.filters-carousel .item {
  cursor: pointer;
}
.filters-carousel .item img {
  width: 46px;
  height: 46px;
}
.filters-carousel .item p {
  font-size: 16px;
  font-weight: 600;
}
.filters-carousel .btn-filters {
  box-shadow: -40px 7px 6px 20px rgb(255, 255, 255);
  position: absolute;
  margin-top: -90px;
  right: 230px;
  width: 116px;
  height: 64px;
  border: 1px solid #E0E0E0;
  background-color: white;
  border-radius: 16px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.filters-carousel .btn-filters img {
  width: 24px;
  height: 24px;
}
.filters-carousel .btn-filters p {
  margin: 0;
  margin-left: 8px;
  color: black;
  font-size: 16px;
  font-weight: 600;
}

.main {
  margin-top: 48px;
  max-width: 1700px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
}
.main .item {
  width: 303px;
  height: 387px;
  margin: 15px;
  text-decoration: none;
  color: black;
}
.main .item .main-img {
  width: 100%;
  height: 287px;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .item .row {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
}
.main .item .row .name {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
.main .item .row .star-img {
  width: 15px;
  height: 15px;
  margin-left: auto; /* Перемещаем вправо */
}
.main .item .row .rating {
  font-size: 14px;
  margin: 0;
  margin-left: 5px; /* Устанавливаем отступ справа */
}
.main .item .place {
  margin: 0;
  margin-top: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #5E5E5E;
}
.main .item .time {
  font-size: 14px;
  font-weight: 400;
  color: #5E5E5E;
  margin: 0;
  margin-top: 4px;
}
.main .item .price {
  margin: 0;
  margin-top: 8px;
  font-size: 14px;
}/*# sourceMappingURL=main.component.css.map */