<div class="login-box" *ngIf="loginModal">
  <div class="logo"></div>
  <h1>Log in</h1>
  <div class="signup-label">
    <p>Don’t have an ccount? </p>
    <a href="register" (click)="goRegister">Sign up</a>
  </div>
  <a href="#" class="social-google">
    <img src="https://static-00.iconduck.com/assets.00/google-icon-2048x2048-czn3g8x8.png">
    <h2>Log in with Google</h2>
  </a>

  <div class="or-box">
    <hr>
    <p>OR</p>
    <hr>
  </div>

  <div class="log-info">
    <div class="email">
      <p>Your email</p>
      <input type="text" class="styled-input" [(ngModel)]="email">
    </div>

    <div class="password">
      <p>Your password</p>
      <a href="#"><img src="../assets/images/icons/eye-hide.svg">
        <p>Hide</p>
      </a>
      <input type="password" class="styled-input" [(ngModel)]="password">
    </div>
  </div>

  <a class="login-btn" [ngClass]="{ 'filled': isFormFilled() }" (click)="login()">
    <p>Log in</p>
  </a>

</div>




<header>
  <h1>logo</h1>
  <select>
    <option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
  </select>
  <a class="login" (click)="toggleLoginBox()">
    <p>Log In</p>
  </a>
</header>

<div class="search-box">
  <h2>Looking for?</h2>
  <div class="search-menu">
    <img class="search-img" src="../assets/images/icons/search.svg">
    <input type="text" class="search-input" placeholder="Select a city" (click)="toggleDropdown()" [(ngModel)]="selectedCity">
    <hr class="vertical-hr">
    <div class="calendar calendar-box">
      <mat-form-field class="calendar-box">
        <mat-label class="ligth">Check in - Check out</mat-label>
        <mat-date-range-input class="calendar-box" [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
      
        <mat-datepicker-toggle class="calendar-box" matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker class="calendar-box" #picker></mat-date-range-picker>
      
        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
    </div>
    
    <hr class="vertical-hr2">
    <div class="guests" (click)="toggleDropdown2()">
      <img class="search-people" src="../assets/images/icons/people.svg">
      <p>Guests</p>
      <div class="people-count">
        <button (click)="decrement()">-</button>
        <span>{{ count }}</span>
        <button (click)="increment()">+</button>
      </div>
    </div>
    <a class="btn-search"><img src="../assets/images/icons/search2.svg"></a>
  </div>


  <div class="dropdown-menu" *ngIf="dropdownOpen">
    <h2>Popular nearby destinations</h2>
    <ul>
        <li (click)="selectCity('Odessa')"><h3>Odessa</h3><p>Ukraine</p></li>
        <li (click)="selectCity('Lion')"><h3>Lion</h3><p>France</p></li>
        <li (click)="selectCity('Lviv')"><h3>Lviv</h3><p>Ukraine</p></li>
        <li (click)="selectCity('Bukovel')"><h3>Bukovel</h3><p>Ukraine</p></li>
        <li (click)="selectCity('Paris')"> <h3>Paris</h3><p>France</p></li>
        <li (click)="selectCity('London')"><h3>London</h3><p>England</p></li>
    </ul>
</div>

<div class="dropdown-guests" *ngIf="dropdownOpen2">
  <div class="item">
    <div class="column">
      <h3>Adults</h3>
      <p>Ages 13 or above</p>
    </div>
    <div class="count">
      <a (click)="decrementCounter('adults')">-</a>
      <span>{{ adults_count }}</span>
      <a (click)="incrementCounter('adults')">+</a>
    </div>
      
  </div>
  <hr>

  <div class="item">
    <div class="column">
      <h3>Children</h3>
      <p>Ages 2 - 12</p>
    </div>
    <div class="count">
      <a (click)="decrementCounter('children')">-</a>
      <span>{{ children_count }}</span>
      <a (click)="incrementCounter('children')">+</a>
    </div>
      
  </div>
  <hr>

  <div class="item">
    <div class="column">
      <h3>Infants</h3>
      <p>Under 2</p>
    </div>
    <div class="count">
      <a (click)="decrementCounter('infants')">-</a>
      <span>{{ infants_count }}</span>
      <a (click)="incrementCounter('infants')">+</a>
    </div>
      
  </div>
  <hr>

  <div class="item">
    <div class="column">
      <h3>Pets</h3>
      <p>Bringing a servise animal</p>
    </div>
    <div class="count">
      <a (click)="decrementCounter('pets')">-</a>
      <span>{{ pets_count }}</span>
      <a (click)="incrementCounter('pets')">+</a> 
    </div>
      
  </div>

  
</div>


  <div class="filters-carousel">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-tree.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-tree.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-tree.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-tree.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-tree.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-tree.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-tree.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-tree.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-tree.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-tree.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-tree.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-tree.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-wifi.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-wifi.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <!-- Добавьте другие слайды по аналогии -->
    </owl-carousel-o>
    <a class="btn-filters" (click)="toggleFilterBox()">
      <img src="../assets/images/icons/settings.svg">
      <p>Filters</p>
    </a>
  </div>


</div>

<div class="search-box-mobile">
  <div class="search">
    <img src="/assets/images/icons/search.svg">
    <div class="text">
      <h3>Anywhere</h3>
      <p>Any week · Add guests</p>
    </div>

  </div>

  <div class="setting" (click)="toggleFilterBox()">
    <img src="/assets/images/icons/setting.svg">
  </div>

  <div class="filters-carousel">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-tree.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-tree.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-tree.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-tree.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-tree.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-tree.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-tree.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-tree.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-tree.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-tree.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-tree.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-tree.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-wifi.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="item">
          <img src="../assets/images/icons/house-wifi.svg">
          <p>Cabins</p>
        </div>
      </ng-template>
      <!-- Добавьте другие слайды по аналогии -->
    </owl-carousel-o>

  </div>



</div>


<div class="wishlist-add" [ngClass]="{ 'hidden': wishlistBoxHidden }">
  <div class="header">
    <a class="close-btn" (click)="toggleWishlistBox()"><img src="/assets/images/icons/close.svg"></a>
    <h1>Add to wishlist</h1>
  </div>

  <div class="items">
    <div class="item" *ngFor="let category of whishlistCategories | async">
      <img
        src="https://s3-alpha-sig.figma.com/img/85ad/e62c/8b2a1deacb05bc0d7368ad836cc54a1a?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=JF9tesZ72KXhxHYflxzZH-HDxizPf1hk15fgpmqrKpuVAE6rWStcse5hJy-1Fx4ph52XIpIWKsr3SZ2vNni9dPlXcYFLsvc6trHSNZgu03JUGyikeks5w410c9-fuEF4lZ30bxJUC-Ys9qX0QLH49MflwWVYYRQW0YqvMtQfqA7PGjo-1qI3Bu5QnqPLw1NtirDM4hVNDKMCxBPPq-T81x60W9kS91d5ebRBNtZBCm7Z1-29jPvu6nXQ2Q0cKEzyFq-JEXjyms6cpoauramCppE1D2x7engnokK8vLycjYba9Vi9vnEUW0fgGYnMOT5PDNNzLpZqdmw2y0SZEv41Eg__">
      <p class="name">{{ category.name }}</p>
      <p class="saved-count">{{ category.count }} saved</p>
    </div>
  </div>
  <a (click)="addWhishlistCategory()" class="create-btn">Create new whishlist</a>
</div>

<div class="main">
  <ng-container *ngFor="let item of items | async">
    <a class="item">
      <a  [routerLink]="['/product', item.id]"><img class="main-img" [src]="item.imageUrl"></a>
      <a class="add-to-wishlist" (click)="toggleWishlistBox()"><img src="/assets/images/icons/heart.svg"></a>
      <div class="row">
        <p class="name">{{ item.name }}</p>
        <img class="star-img" src="/assets/images/icons/star.svg">
        <p class="rating">{{ item.rating }}</p>
      </div>
      <p class="place">{{ item.place }}</p>
      <p class="time">{{ item.duration }}</p>
      <p class="price"><b>{{ item.price }}$</b> / night</p>
    </a>
  </ng-container>
</div>
<div class="background-filters" *ngIf="filterModal">
  <div class="filters-btn" >
    <div class="filter-header">
      <a class="close-btn" (click)="toggleFilterBox()"><img src="/assets/images/icons/close.svg"></a>
      <h3>Filters</h3>
    </div>
    <div class="type-place">
      <h3>Type of place</h3>
      <p>Search rooms, entire homes, or any type of place</p>
      <div class="radio-buttons">
        <a class="radio-button item1" name="option" value="option1" [class.active]="filters.roomType === RoomType.Any"
          (click)="setActiveButton(RoomType.Any)">Any type</a>
        <a class="radio-button item2" name="option" value="option2" [class.active]="filters.roomType === RoomType.Room"
          (click)="setActiveButton(RoomType.Room)">Room</a>
        <a class="radio-button item3" name="option" value="option3" [class.active]="filters.roomType === RoomType.EntireHome"
          (click)="setActiveButton(RoomType.EntireHome)">Entire home</a>
      </div>
    </div>
  
    <div class="price-range">
      <h3>Price range</h3>
      <p>Nightly prices before fees and taxes</p>
      <div class="inputs">
        <div class="input-wrapper">
          <input id="minPrice" type="number" >
          <div class="placeholder">Minimum</div>
        </div>
        <hr class="hr-price">
        <div class="input-wrapper">
          <input id="maxPrice" type="number" >
          <div class="placeholder">Maximum</div>
        </div>
        
      </div>
    
      <hr>
    </div>
  
    <div class="rooms-beds">
      <h2>Rooms and Beds</h2>
      <div class="bedrooms">
        <p>Bedrooms</p>
        <div class="radio-buttons">
          <a class="radio-button item1" name="option" value="option1" [class.active]="filters.minBedrooms === 0"
            (click)="bedroomsSetActiveButton(0)">Any</a>
          <a class="radio-button item2" name="option" value="option2" [class.active]="filters.minBedrooms === 1"
            (click)="bedroomsSetActiveButton(1)">1</a>
          <a class="radio-button item2" name="option" value="option2" [class.active]="filters.minBedrooms === 2"
            (click)="bedroomsSetActiveButton(2)">2</a>
          <a class="radio-button item2" name="option" value="option2" [class.active]="filters.minBedrooms === 3"
            (click)="bedroomsSetActiveButton(3)">3</a>
          <a class="radio-button item2" name="option" value="option2" [class.active]="filters.minBedrooms === 4"
            (click)="bedroomsSetActiveButton(4)">4</a>
          <a class="radio-button item2" name="option" value="option2" [class.active]="filters.minBedrooms === 5"
            (click)="bedroomsSetActiveButton(5)">5</a>
          <a class="radio-button item2" name="option" value="option2" [class.active]="filters.minBedrooms === 6"
            (click)="bedroomsSetActiveButton(6)">6</a>
          <a class="radio-button item3" name="option" value="option3" [class.active]="filters.minBedrooms === 7"
            (click)="bedroomsSetActiveButton(7)">7+</a>
        </div>
      </div>
  
      <div class="beds">
        <p>Beds</p>
        <div class="radio-buttons">
          <a class="radio-button item1" name="option" value="option1" [class.active]="filters.minBeds === 0"
            (click)="bedsSetActiveButton(0)">Any</a>
          <a class="radio-button item2" name="option" value="option2" [class.active]="filters.minBeds === 1"
            (click)="bedsSetActiveButton(1)">1</a>
          <a class="radio-button item2" name="option" value="option2" [class.active]="filters.minBeds === 2"
            (click)="bedsSetActiveButton(2)">2</a>
          <a class="radio-button item2" name="option" value="option2" [class.active]="filters.minBeds === 3"
            (click)="bedsSetActiveButton(3)">3</a>
          <a class="radio-button item2" name="option" value="option2" [class.active]="filters.minBeds === 4"
            (click)="bedsSetActiveButton(4)">4</a>
          <a class="radio-button item2" name="option" value="option2" [class.active]="filters.minBeds === 5"
            (click)="bedsSetActiveButton(5)">5</a>
          <a class="radio-button item2" name="option" value="option2" [class.active]="filters.minBeds === 6"
            (click)="bedsSetActiveButton(6)">6</a>
          <a class="radio-button item3" name="option" value="option3" [class.active]="filters.minBeds === 7"
            (click)="bedsSetActiveButton(7)">7+</a>
        </div>
      </div>
  
      <div class="bathrooms">
        <p>Bathrooms</p>
        <div class="radio-buttons">
          <a class="radio-button item1" name="option" value="option1" [class.active]="filters.minBathrooms === 0"
            (click)="bathroomsSetActiveButton(0)">Any</a>
          <a class="radio-button item2" name="option" value="option2" [class.active]="filters.minBathrooms === 1"
            (click)="bathroomsSetActiveButton(1)">1</a>
          <a class="radio-button item2" name="option" value="option2" [class.active]="filters.minBathrooms === 2"
            (click)="bathroomsSetActiveButton(2)">2</a>
          <a class="radio-button item2" name="option" value="option2" [class.active]="filters.minBathrooms === 3"
            (click)="bathroomsSetActiveButton(3)">3</a>
          <a class="radio-button item2" name="option" value="option2" [class.active]="filters.minBathrooms === 4"
            (click)="bathroomsSetActiveButton(4)">4</a>
          <a class="radio-button item2" name="option" value="option2" [class.active]="filters.minBathrooms === 5"
            (click)="bathroomsSetActiveButton(5)">5</a>
          <a class="radio-button item2" name="option" value="option2" [class.active]="filters.minBathrooms === 6"
            (click)="bathroomsSetActiveButton(6)">6</a>
          <a class="radio-button item3" name="option" value="option3" [class.active]="filters.minBathrooms   === 7"
            (click)="bathroomsSetActiveButton(7)">7+</a>
        </div>
      </div>
  
      <hr>
    </div>
  
    <div class="language">
      <h2>Host language</h2>
      <div class="checkbox-container">
        <div class="row">
          <label>
            <input type="checkbox" name="option1"> English
          </label>
          <label>
            <input type="checkbox" name="option2"> French
          </label>
        </div>
        <div class="row">
          <label>
            <input type="checkbox" name="option3"> German
          </label>
          <label>
            <input type="checkbox" name="option4"> Japanese
          </label>
        </div>
      </div>
  
    </div>
  
    <div class="filter-footer">
      <a class="clear" (click)="clearAll()"> Clear all</a>
  
      <a (click)="toggleFilterBox(); refreshStays()"class="show">Search</a>
    </div>
  
  </div>
</div>


<div class="footer">
  <div class="explore">
    <img src="assets/images/icons/search.svg">
    <p>Explore</p>
  </div>
  <div class="wishlists">
    <img src="assets/images/icons/heart2.svg">
    <p>Wishlists</p>
  </div>
  <div class="login">
    <img src="assets/images/icons/user2.svg">
    <p>Log in</p>
  </div>
</div>