body {
    overflow-x:hidden;
}
  
@media only screen and (max-width: 400px) {
  body {
    width: 100%;
  }
}

.hidden {
    display: none;
  }

.login-box {
    position: absolute;
    left: 30%;
    top: 50px;
    z-index: 9999;
    max-width: 795px;
    width: 100%;
    height: 821px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    border-radius: 24px;
    display: flex;
    justify-items: center;  
    align-items: center;
    flex-direction: column;
    background-color: white;

    padding-top: 40px;

    @media (min-width: 766px) and (max-width: 1400px) {
        left: 5%;
    }
    .logo {
        width:48px;
        height: 48px;
        background-color: red;
        border-radius: 50%;
    }

    h1 {
        font-size: 32px;
        line-height: 48px;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
    }
    .signup-label {
        display: flex;
        flex-direction: row;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        p {
            margin: 0;
        }

        a {
            margin: 0;
            color: black;
            margin-left: 5px;
            &:hover {
                color: blueviolet;
            }
        }
    }

    .social-google {
        
        display: flex;
        flex-direction: row;
        max-width: 528px;
        width: 100%;
        height: 72px;
        border-radius: 40px;
        border: 1px solid black;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
        transition: background-color 0.3s ease;
        margin-top: 40px;
        img {
            width: 24px;
            height: 24px;
        }

        h2 {
            font-family: 'Avenir', sans-serif;
            margin: 0;
            margin-left: 16px;

            font-size: 22px;
            font-weight: 400;
            line-height: 30.05px;
        }

        &:hover {
            background-color: rgb(230, 229, 229);
        }
    }

    .or-box {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        align-items: center;
        justify-content: center;
        hr {
            border: none; /* Убираем рамку */
            height: 2px; /* Высота линии */
            width: 223.5px;
            background-color: #66666640; /* Цвет линии */
            margin: 0; /* Отступы */ 
        }

        p {
            font-family: 'Avenir', sans-serif;
            font-size: 24px;
            line-height: 32.78px;
            font-weight: 400;
            margin-left: 23px;
            margin-right: 23px;
            margin-top: 0;
            margin-bottom: 0;
            color: #666666;
        }
    }

    .log-info {
        margin-top: 40px;

        .password {
            margin-top: 40px;
        }
        p {
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            line-height: 16px;
            color: #666666;
            margin-bottom: 7px;
        }

        a {
            font-size: 18px;
            line-height: 27px;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            text-decoration: none;
            color: #666666CC;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            margin-top: -27px;
            margin-bottom: 7px;
            margin-right: 5px;
            p {
                margin: 0;
            }
            img {
                width:24px;
                height: 24px;
                
            }
        }

        input {
            width: 528px;
            height: 56px;
            border-radius: 12px;
            border: 1px solid #66666659; /* Чтобы добавить рамку, укажите толщину и цвет */
            padding: 10px; /* Добавляем отступы внутри инпута */
            box-sizing: border-box; /* Учитываем padding и border внутри width и height */
            font-size: 16px; /* Размер текста */
             /* Выравнивание текста по центру */
        }
        
    }

    .login-btn {
        max-width: 528px;
        width: 100%;
        height: 64px;
        border-radius: 40px;
        background-color: #111111;
        opacity: 25%;
        font-family: "Poppins", sans-serif;
        color: white;
        font-size: 22px;
        font-weight: 500;
        line-height:33px;
        text-align: center;
        text-decoration: none;
        margin-top: 40px;
        p {
            margin: 0;
            margin-top: 15px;
        }
    }

    .login-btn.filled {
        background-color: #C99228;
        opacity: 100%; /* Цвет кнопки, когда поля заполнены */
      }
}


.main-header {
    width: 90%;
    height: 100px;
    position: relative;
    top: 20px;
    left: 149px;
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: 'Montserrat', sans-serif;

    @media (max-width: 766px) {
       display: none;
      }
      
    h1 {
        margin: 0;
        
        font-weight: 300;
        font-size: 56px;
        
    }

    select {
        border: none;
        font-size: 22px;
        font-weight: 400;
        position: absolute;
        right: 290px;
        cursor: pointer;
    }

    a {
        width: 107px;
        height: 55px;
        border-radius: 26px;
        background-color: #2288E6;
        color: white;
        text-align: center;
        position: absolute;
        cursor: pointer;
        right: 155px;
        p {
            margin: 0;
            margin-top: 15px;
            font-size: 22px;
            font-weight: 600;
        }
    }
}

.search-box {
    margin-top: 91px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 766px) {
        display: none;
        width:1px;
       }
       @media (min-width: 767px) and (max-width: 1400px) {
        width: 95%;
        margin-left: 2.5%;
    }

    h2 {
        margin: 0;
        font-family: 'Inter', sans-serif;
        font-size: 70px;
        font-weight: 800;
        line-height: 85px;
        letter-spacing: 0em;

    }

    
    .dropdown-menu {
        
        font-family: 'Montserrat', sans-serif;
        position: absolute;
        top: 400px; /* Регулируйте положение меню здесь */
        left: 344px;
        width: 695px;
        height: 550px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 38px;
        box-shadow: 0px 0px 10px 0px #0000004D;
        z-index: 9999;
        padding-top: 37px;
        @media (max-width: 766px) {
            display: none;
            left: 0;
            width:1px;
           }
           @media (min-width: 766px) and (max-width: 1400px) {
            left: 2%;
            top: 500px;
        }
           
        h2 {
            font-size:22px;
            font-weight: 700;
            margin: 0;
            margin-top: -40px;
            margin-left: 32px;
        }
    
        ul {
          
            li {
                
                font-size: 22px;
                margin-bottom: 10px;
                a {
                   padding-left: 20px;
                    text-decoration: none;
                    color: black;
                    margin: 0;
                }
            }
        }
    }

    .dropdown-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .dropdown-menu ul li {
        padding: 10px;
        cursor: pointer;

        h3 {
            margin: 0;
            margin-left: 32px;
            font-size: 18px;
            font-weight: 700;
        }
        p {
            margin: 0;
            margin-left: 32px;
            font-size: 14px;
        }
    }
    
    .dropdown-menu ul li:hover {
        background-color: #f0f0f0;
    }


    .dropdown-guests {
        
        font-family: 'Montserrat', sans-serif;
        position: absolute;
        top: 400px; /* Регулируйте положение меню здесь */
        right: 367px;
        width: 489px;
        height: 494px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 38px;
        box-shadow: 0px 0px 10px 0px #0000004D;
        z-index: 9999;
        padding-top: 67px;
        padding-left: 36px;
        @media (max-width: 766px) {
            display: none;
            left: 0;
            width:1px;
           }
           @media (min-width: 766px) and (max-width: 1400px) {
            right: 2%;
            top: 500px;
        }
        hr {
            width: 449px;
            margin: 0;
            margin-top: 31px;
            margin-bottom: 31px;
        }
        .item {
            width: 449px;
            display: flex;
            flex-direction: row;
            .column {
                display: flex;
                flex-direction: column;
                h3 {
                    margin: 0;
                    font-size:20px;
                    font-weight: 500;
                }
                p {
                    margin: 0;
                    font-size: 18px;
                    font-weight: 400;
                    color: #808080;
                }
            }

            .count {
                margin-left: auto;
               
                display: flex;
                flex-direction: row; 

                span {
                    width: 50px;
                    text-align: center;
                    line-height: 40px;
                    font-size: 18px;
                    font-weight: 400;
                }
                a {
                    cursor: pointer;
                    text-align: center;
                    line-height: 40px;
                    font-size: 50px;
                    width: 40px;
                    height: 40px;
                    border: 1px solid #BABABA;
                    border-radius: 50%;
                    background-color: white;
                
                }
            }
        }
    }
    .search-menu {
        margin-top: 28px;
        width: 100%;
        max-width: 1298px;
        height: 84px;
        border-radius: 48px;
        border: 2px solid #E0E0E0;
        display: flex;
        flex-direction: row;
        align-items: center;
        @media (max-width: 766px) {
            display: none;
            width:1px;
           }
        .search-img {
            width: 24px;
            height: 24px;
            margin-left: 28px;
        }

        .search-input {
            border: none;
            outline: none; 
            margin: 0;
            font-size: 20px;
            font-weight: 400;
           
            font-family: 'Montserrat', sans-serif; 
            
            margin-left: 12px;
            @media (min-width: 766px) and (max-width: 1400px) {
                width: 12%;
            }
          }

          .vertical-hr {
            margin: 0;
            border: none; /* Убираем границу */
            height: 24px; /* Устанавливаем высоту */
            width: 2px; /* Ширина линии */
            background-color: #E0E0E0; /* Цвет линии */
          }

          .calendar {
           margin-top: 20px;
            margin-left: 100px;
            @media (min-width: 766px) and (max-width: 1400px) {
                margin-left: 1%
                
            }
             
              
          }
          a {
            font-size:20px;
            color: #757575;
            text-decoration: none;
            margin-left: 12px;
          }

          .search-arrow {
            width: 24px;
            height: 24px;
            margin-left: 12px;
          }

          .vertical-hr2 {
            margin: 0;
            margin-left: 3%;
            border: none; /* Убираем границу */
            height: 24px; /* Устанавливаем высоту */
            width: 2px; /* Ширина линии */
            background-color: #E0E0E0; /* Цвет линии */
          }

          .guests {
            cursor: pointer;
            width: 400px;
            display: flex;
            flex-direction: row;
            img {
                width: 24px;
                height: 24px;
            }
            .search-people {
                width: 24px;
                height: 24px;
                margin-left: 100px;
            
              }
    
              p {
                font-size: 20px;
                font-weight: 400;
                font-family: 'Montserrat', sans-serif; 
                color: #757575;
                margin-left: 12px;
                margin-top: 3px;
              }
    
              .people-count {
                margin-left: 75px;
                width: 100px;
                button {
                    background-color: white;
                    color: black;
                    border: 0;
                    font-size: 24px;
                    cursor: pointer;
                }
                span {
                    font-size: 20px;
                    margin-left: 16px;
                    margin-right: 16px;
                }
          }
         
          }

          .btn-search {
            font-family: 'Montserrat', sans-serif; 
            width: 64px;
            height: 64px;
            border-radius: 34px;
            background-color: #2288E6;
            cursor: pointer;
            text-align: center;
            line-height: 80px;
            margin-left: 100px;

            @media (min-width: 766px) and (max-width: 1400px) {
                margin-left: auto;
                margin-right: 30px;
            }
            img {
                width: 30px;
                height: 30px;

            }
          }
    }
}

.search-box-mobile {
    font-family: "Montserrat", sans-serif;
    height: 200px;
    width: 100%;
    
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0px 4px 12.9px 0px #00000040;
    display: none;

    @media (max-width: 766px) {
        display: block;
       }

    .search {
    width: 75%;
    height:70px;
    border-radius: 46px;
    box-shadow: 0px 2px 10.2px 0px #00000040;
    margin-left: 2%;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
        img {
            width: 30px;
            height: 30px;
            margin-left: 14px;
            margin-right: 18px;
        }
    
        .text {
            h3 {
                margin: 0;
                font-size: 20px;
            }
    
            p {
                margin: 0;
                font-size: 12px;
                font-weight: 400;
                color: #757575;
            }
        }
    }

    .setting {
       
        width: 55px;
        height: 55px;
        background-color: #2288E6;
        border-radius: 36px;
        text-align: center;
        line-height: 74px;
        position: absolute;
        right: 6%;
        top: 12%;
        img {
            width: 30px;
            height: 30px;
        }
    }
    

    .filters-carousel {
        font-family: 'Montserrat', sans-serif; 
        width:100%;
        margin-left: 0;
        margin-top: 40px;
        z-index: 0;
      
       .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        
    
        img {
                width: 30px;
                height: 30px;
           }
    
        p {
            font-size: 16px;
            font-weight: 600;
           }
       }
          
    }


    
}

.filters-carousel {
    font-family: 'Montserrat', sans-serif; 
    width:70%;
    margin-left: -50px;
    margin-top: 48px;
    z-index: 0;
    @media (min-width: 766px) and (max-width: 1400px) {
        width: 90%;
        margin-left: 2%;
    }
   .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-align: center;
    height: 90px;
    width: 80px;
  

    img {
            width: 46px;
            height: 46px;
       }

    p {
        font-size: 16px;
        font-weight: 600;
       }
   }

   .btn-filters
   {
    
    -webkit-box-shadow: -40px 7px 6px 20px rgba(255,255,255,1);
-moz-box-shadow: -40px 7px 6px 20px rgba(255,255,255,1);
box-shadow: -40px 7px 6px 20px rgba(255,255,255,1);
cursor: pointer;
    position: absolute;
    margin-top: -90px;
    right: 14%;
    width: 116px;
    height: 64px;
    border: 1px solid #E0E0E0;
    background-color: white;
    border-radius: 16px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    @media (min-width: 766px) and (max-width: 1400px) {
        right: 1%;
    }
        img {
        width: 24px;
        height: 24px;
    
        }
        p {
        margin: 0;
        margin-left: 8px;
        color: black;
        font-size: 16px;
        font-weight: 600;
      }
   }
      
}

.wishlist-add {
    z-index: 999;
    position: absolute;
    left: 30%;
    top: 244px;
    width: 806px;
    min-height: 600px; /* Минимальная высота */
    border-radius: 22px;
    background-color: white;
    border: 1px solid black;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    
    @media (max-width: 766px) {
        left: 0px;
        width: 100%;
        min-height: 100vh;
        padding-bottom: 100px;
    }

    @media (min-width: 766px) and (max-width: 1400px) {
        left: 2%;
        width: 95%;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 64px;
        border-bottom: 1px solid #D9D9D9;
        .close-btn { 
            cursor: pointer;
            margin-top: 19px;
            margin-left: 24px;
            width: 32px;
            height: 32px;
            flex-grow: 0; 
            flex-shrink: 0;
            img {
                width: 32px;
                height: 32px;
            }
        }
        h1 {
            flex-grow: 1; 
            text-align: center; 
            margin: 0; 
            margin-left: -80px;
            font-size: 20px;
            font-weight: 500;
        }
    }
    
    .items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 85%;
        margin-top: 0px;
        margin-left: 10%;
        .item {
            width: 303px;
            height: 343px;
            margin-right: 33px;
            margin-top: 36px;
            img {
                width: 100%;
                height: 287px;
                border-radius: 21px;
            }
            .name {
                font-size: 16px;
                font-weight: 500;
                margin: 0;
                margin-top: 16px;
            }
            .saved-count {
                font-size: 14px;
                color: #3C3C3C;
                margin: 0;
                margin-top: 3px;
            }
        }
    }

    .create-btn {
        cursor: pointer;
        margin-left: 29px;
        margin-top: 75px;
        
        width: 92%;
        height: 56px;
        background-color: #222222;
        text-align: center;
        border-radius: 9px;
        font-size: 20px;
        color: white;
        font-weight: 600;
        line-height: 56px;
        @media (max-width: 766px) {
            width: 85%;
            margin-top: 20px;
        }
    }
}

.main {
    margin-top: 48px;
    padding-bottom: 100px;
    max-width: 1700px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 7%;
    font-family: 'Montserrat', sans-serif; 
    @media (max-width: 766px) {
        position: absolute;
        top: 160px;
        margin-left: 0;
       }
       @media (min-width: 766px) and (max-width: 1600px) {
        width: 95%;
        margin-left: 4%;
    }
    .item {
        cursor: pointer;
        position: relative;
        width: 303px;
        height: 387px;
        margin: 15px;
        text-decoration: none;
        color: black;
        z-index: 99;
        @media (max-width: 766px) {
            width: 175px;
            height: 300px;
           }
        .main-img {
            width: 100%;
            height:287px;
            border-radius: 12px;
            object-fit: cover;
            @media (max-width: 766px) {
                height: 175px;
               }
        }

        .add-to-wishlist {
            z-index: 998;
            cursor: pointer;
            position: absolute;
            width: 32px;
            height: 32px;
            img {
                width: 100%;
                height: 100%;
            }
           
            top: 16px;
            right: 16px;
        }

        .row {
            margin-top: 16px;
            display: flex;
            flex-direction: row;
        
            .name {
                font-size: 14px;
                font-weight: 600;
                margin: 0;
            }
        
            .star-img {
                width: 15px;
                height: 15px;
                margin-left: auto; /* Перемещаем вправо */
            }
        
            .rating {
                font-size: 14px;
                margin: 0;
                margin-left: 5px; /* Устанавливаем отступ справа */
            }
        }

        .place {
            margin: 0;
            margin-top: 4px;
            font-size: 14px;
            font-weight: 400;
            color: #5E5E5E;
        }

        .time {
            font-size: 14px;
            font-weight: 400;
            color: #5E5E5E;
            margin: 0;
            margin-top: 4px;
        }

        .price {
            margin: 0;
            margin-top: 8px;
            font-size: 14px;

        }
        
    }
}

.background-filters {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Затемнение заднего фона */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9998;

    .filters-btn {
        background-color: #fff;
        z-index: 9999;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        max-width: 80%;
        width: 65.3rem;
        max-height: 90%; /* Ограничиваем максимальную высоту модального окна */
        overflow-y: auto; /* Добавляем прокрутку */
      

        .filter-header {
            border-bottom: 2px solid #E0E0E0;
            .close-btn {
                cursor: pointer;
            }
            a {
              
                img {
                    width: 32px;
                    height: 32px;
                    margin-top: 2rem;
                    margin-left: 2rem;
                }
            }
    
            h3{
                font-size:22px;
                font-weight: 700;
                text-align: center;
                margin-top: -2rem;
            }
        }
       
        .type-place {
           width: 100%;
           max-width: 54rem;
           display: flex;
           flex-direction: column;
          margin-left: 2.2rem;
          @media (max-width: 766px) {
            margin-left: 24px;
            width:95%;
           }
          h3 {
            font-size: 28px;
            font-weight: 600;
            margin: 0;
            margin-top: 2.4rem;
            margin-bottom: 0.8rem;
          }
    
          p {
            font-size: 20px;
            font-weight: 400;
            margin: 0;
            margin-bottom: 2.4rem;
          }
            .radio-buttons {
                display: flex;
                margin-left: 5.8rem;
                @media (max-width: 766px) {
                    margin-left: 0px;
                   width: 95%;
                   
                   }
              
              .item1 {
                border-top-left-radius: 1rem;
                border-bottom-left-radius: 1rem;
              }
    
              .item3 {
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;
              }
              .radio-button {
                flex: 1;
                max-width: 18rem;
                width: 100%;
                height: 4rem;
                
                border-color: #DBDBDB;
                border-style: solid;
                border-width: 0.1rem;
                background-color: #fff;
                padding: 10px;
                cursor: pointer;
                
    
                text-align: center;
                line-height: 4rem;
                font-size: 20px;
                font-weight: 600;
                @media (max-width: 766px) {
                   height: 3rem;
                   line-height: 3rem;
                   font-size: 14px;
                   
                   }
              }
              
              .radio-button:hover {
                background-color: #f0f0f0;
              }
              
              .radio-button.active {
                background-color: #000;
                color: #fff;
              }
            }
              
        }
    
    
        .price-range {
            margin-left: 2.2rem;
            @media (max-width: 766px) {
                margin-left: 24px;
               }
            h3 {
                font-size: 28px;
                font-weight:600;
                margin: 0;
                margin-top: 4.25rem;
                margin-bottom: 0.8rem;
            }
    
            p {
                font-size: 20px;
                margin: 0;
                margin-bottom: 69px;
            }
            .inputs {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 93%;
                margin-bottom: 47px;
    
                .hr-price {
                    height: 1px;
                    width: 40px;
                    margin: 0;
                    margin-left: 25px;
                    margin-right: 25px;
                    background-color: #D9D9D9;
                }
                .input-wrapper {
                    position: relative;
                    
                  }
                  
                  input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
                  input {
                    width: 390px;
                    height: 76px;
                    padding-top: 20px;
                    padding-left: 16px; /* выравнивание по вертикали */
                    box-sizing: border-box; /* чтобы внутренние отступы не увеличивали ширину */
                    border-radius: 16px;
                    border: 1px solid #E0E0E0;
                    font-size: 25px;
                    @media (max-width: 766px) {
                        width: 156px;
                        height: 80px;
                        
                        }
                  }
                  
                  .placeholder {
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin-top: 15px;
                    margin-left: 15px;
                    width: 100%;
                    height: 20px; /* высота первого ряда */
                    line-height: 20px; /* выравнивание по вертикали */
                    color: #999; /* цвет текста */
                    pointer-events: none; /* чтобы плейсхолдер не мешал вводу текста */
                  }
            }
    
            hr {
                width: 58.8rem;
                margin-left: 0rem;
                background-color: #D9D9D9;
                @media (max-width: 766px) {
                    margin-left: -24px;
                   }
            }
        }
    
        .rooms-beds {
            @media (max-width: 766px) {
            width: 95%;
            margin-left: 24px;
                
                }
            h2 {
                font-size: 28px;
                font-weight: 600;
                margin: 0;
                margin-top: 2.5rem;
                @media (max-width: 766px) {
                    font-size: 24px;
                   }
            }
    
            margin-left: 2.2rem; 
            p {
                margin: 0;
                margin-top: 1.9rem;
                margin-bottom: 2.2rem;
                @media (max-width: 766px) {
                    font-size: 18px;
                    margin-bottom: 16px;
                   }
            }
    
            .radio-buttons {
                display: flex;
              
              
              .radio-button {
                box-shadow: 0px 1px 5.7px 0px #00000026;
    
                flex: 1;
                max-width: 5rem;
                width: 100%;
                height: 3rem;
                border-radius: 2rem;
                margin-right: 1.2rem;
                border-color: #DBDBDB;
                border-style: solid;
                border-width: 0.1rem;
                background-color: #fff;
                padding: 10px;
                cursor: pointer;
                
    
                text-align: center;
                line-height: 3rem;
                font-size: 20px;
                font-weight: 600;
              }
              
              .radio-button:hover {
                background-color: #f0f0f0;
              }
              
              .radio-button.active {
                background-color: #000;
                color: #fff;
              }
            }
            hr {
                width: 58.8rem;
                margin-top: 3.5rem;
                margin-left: 0rem;
                background-color: #D9D9D9;
            }
    
    
        }
    
       
    
        .filter-footer {
            border-top: 2px solid #E0E0E0;
            margin-top: 40px;
            width: 100%;
            bottom: 0;
            display: flex;
            justify-content: space-between; /* Располагаем элементы вправо и влево */
            
            a {
                cursor: pointer;
            }
            .clear {
              font-size:22px;
              font-weight: 500;
              margin-left: 2.5rem;
              margin-top: 2rem;
            }
          
            .show {
              font-size: 22px;
              font-weight: 600;
              width: 235px;
              height: 55px;
              background-color: #222222;
              border-radius: 8px;
              color: white;
              text-align: center;
              margin-bottom: 1rem;
              margin-right: 1rem;
              margin-top: 1.1rem;
              line-height: 3.5rem;
            }
          }
          
    }
    
}




.selected-filter {
    border-bottom: solid 1px black;
   
}