<div class="login-box" [ngClass]="{ 'hidden': loginBoxHidden }">


    <div class="logo"></div>
    <h1>Log in</h1>
    <div class="signup-label">
      <p>Don’t have an ccount? </p>
      <a href="register" (click)="goRegister">Sign up</a>
    </div>
    <a href="#" class="social-google">
      <img src="https://static-00.iconduck.com/assets.00/google-icon-2048x2048-czn3g8x8.png">
      <h2>Log in with Google</h2>
    </a>
  
    <div class="or-box"><hr><p>OR</p><hr></div>
    
    <div class="log-info">
      <div class="email">
        <p>Your email</p>
        <input type="text" class="styled-input" [(ngModel)]="email">
      </div>
    
      <div class="password">
        <p>Your password</p>
        <a href="#"><img src="../assets/images/icons/eye-hide.svg"><p>Hide</p></a>
        <input type="password" class="styled-input" [(ngModel)]="password">
      </div>
    </div>
    
    <a class="login-btn" href="#" [ngClass]="{ 'filled': isFormFilled() }" (click)="login()">
      <p>Log in</p>
    </a>
  
  </div>
  <div class="overlay" [ngClass]="{ 'hidden': loginBoxHidden }" (click)="toggleLoginBox()"></div>
  
  <header>
    <h1>logo</h1>
    <select>
      <option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
    </select>
    <a class="login" (click)="toggleLoginBox()"><p>Log In</p></a> 
  </header>
  
  <div class="search-box">
    <h2>Looking for?</h2>
    <div class="search-menu">
      <img class="search-img" src="../assets/images/icons/search.svg">
      <input type="text" class="search-input" placeholder="Select a city">
      <hr class="vertical-hr">
      <img class="search-calendar" src="../assets/images/icons/calendar.svg">
      <a href="#">Check-in</a>
      <img class="search-arrow" src="../assets/images/icons/arrow-right.svg">
      <a href="#">Check-out</a>
      <hr class="vertical-hr2">
      <img class="search-people" src="../assets/images/icons/people.svg">
      <p>Guests</p>
      <div class="people-count">
        <button (click)="decrement()">-</button>
        <span>{{ count }}</span>
        <button (click)="increment()">+</button>
      </div>
      <a class="btn-search"><p>Search</p></a>
    </div>
  
    <div class="filters-carousel">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="item">
           <img src="../assets/images/icons/house-tree.svg">
           <p>Cabins</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <img src="../assets/images/icons/house-tree.svg">
            <p>Cabins</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <img src="../assets/images/icons/house-tree.svg">
            <p>Cabins</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <img src="../assets/images/icons/house-tree.svg">
            <p>Cabins</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <img src="../assets/images/icons/house-tree.svg">
            <p>Cabins</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <img src="../assets/images/icons/house-tree.svg">
            <p>Cabins</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <img src="../assets/images/icons/house-tree.svg">
            <p>Cabins</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <img src="../assets/images/icons/house-tree.svg">
            <p>Cabins</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <img src="../assets/images/icons/house-tree.svg">
            <p>Cabins</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <img src="../assets/images/icons/house-tree.svg">
            <p>Cabins</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <img src="../assets/images/icons/house-tree.svg">
            <p>Cabins</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <img src="../assets/images/icons/house-tree.svg">
            <p>Cabins</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <img src="../assets/images/icons/house-wifi.svg">
            <p>Cabins</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <img src="../assets/images/icons/house-wifi.svg">
            <p>Cabins</p>
          </div>
        </ng-template>
        <!-- Добавьте другие слайды по аналогии -->
      </owl-carousel-o>
      <a href="#" class="btn-filters">
        <img src="../assets/images/icons/settings.svg">
        <p>Filters</p>
      </a>
    </div>
  
    <div class="main">
     <!-- app.component.html -->
     <ng-container *ngFor="let item of items">
      <a href="#" class="item">
        <img class="main-img" [src]="item.imageUrl">
        <div class="row">
          <p class="name">{{ item.name }}</p>
          <img class="star-img" [src]="item.starImageUrl">
          <p class="rating">{{ item.rating }}</p>
        </div>
        <p class="place">{{ item.place }}</p>
        <p class="time">{{ item.time }}</p>
        <p class="price"><b>{{ item.price }}</b> night</p>
      </a>
    </ng-container>
    
  
        
      </div>
    </div>
  
  
  