<div class="login-box" [ngClass]="{ 'hidden': loginBoxHidden }">


    <div class="logo"></div>
    <h1>Log in</h1>
    <div class="signup-label">
      <p>Don’t have an ccount? </p>
      <a href="register" (click)="goRegister">Sign up</a>
    </div>
    <a href="#" class="social-google">
      <img src="https://static-00.iconduck.com/assets.00/google-icon-2048x2048-czn3g8x8.png">
      <h2>Log in with Google</h2>
    </a>
  
    <div class="or-box"><hr><p>OR</p><hr></div>
    
    <div class="log-info">
      <div class="email">
        <p>Your email</p>
        <input type="text" [(ngModel)]="email" class="styled-input" >
      </div>
    
      <div class="password">
        <p>Your password</p>
        <a href="#"><img src="../assets/images/icons/eye-hide.svg"><p>Hide</p></a>
        <input type="password" [(ngModel)]="password" class="styled-input" >
      </div>
      
    </div>
    <a class="login-btn" [ngClass]="{ 'filled': isFormFilled() }" (click)="login()">
      <p>Log in</p>
    </a>
  
  </div>
  <div class="overlay" [ngClass]="{ 'hidden': loginBoxHidden }" (click)="toggleLoginBox()"></div>
  
  <header>
    <a [routerLink]="['/main']"><h1>logo</h1></a>
    <select>
      <option></option>
    </select>
    <a class="login" (click)="toggleLoginBox()"><p>Log In</p></a> 
  </header>