<div class="main">
  <h1>Confirm and pay</h1>
  <h2>Your trip</h2>
  <div class="dates">
    <h3>Dates</h3>
    <p>{{ state.dateStart | date: 'MMM d' }} - {{ state.dateEnd | date: 'MMM d' }}</p>
  </div>
  <div class="guests">
    <h3>Guests</h3>
    <p>{{ state.guests }} guest{{ state.guests > 1 ? 's' : '' }}</p>
  </div>
</div>

<div class="info-block">
  <div class="head">
      <img [src]="state.stay.imageUrls[0] || '../assets/images/icons/man-user.svg'">
      <div class="info">
          <h2>{{ state.stay.title }}</h2>
          <p class="location">{{ state.stay.location }}</p>
          <div class="reviews">
              <img src="../assets/images/icons/star-fill.svg">
              <h2>{{ state.stay.rating.overall }} · 223 reviews</h2>
          </div>
      </div>
  </div>
  <div class="price">
      <div class="sum">
          <p class="nights">${{ state.stay.price }} per night</p>
          <p class="res">${{ state.cost }}</p>
      </div>
      <div class="services">
          <p class="fee">Cleaning and service fee</p>
          <p class="included">Included</p>
      </div>
      <div class="taxes">
          <p class="name">Taxes</p>
          <p class="included">Included</p>
      </div>
      <hr>
      <div class="result">
          <p class="total">Total nights stay</p>
          <p class="itog">${{ state.cost }}</p>
      </div>
      <a
        class="order"
        [class.disabled]="!areAllConditionsTrue()"
        [class.inactive]="!areAllConditionsTrue()"
        (click)="submitBooking()"
        (click)="openModal(0)"
        [class.clickable]="areAllConditionsTrue()"
      >
        Order
      </a>
      <p *ngIf="!areAllConditionsTrue()">for order you need to fill in all the required data</p>
  </div>
</div>


<div class="modal-overlay" *ngIf="orderModalOpen">
    <div class="order-modal">
        <img src="../assets/images/icons/order.svg">
        <h2>Thank you for your order!</h2>
        <a [routerLink]="'/main'">Back to the catalog page</a>
        </div>
</div>

<div class="payment">
  <hr>
  <h3>Pay with</h3>

  <div class="method">
      <img src="../assets/images/icons/card.svg">
      <p>Credit or debit card</p>
  </div>
  
  <form [formGroup]="cardForm">
      <input
        class="number"
        type="text"
        formControlName="cardNumber"
        placeholder="Card number"
        [class.invalid]="cardNumber?.invalid && cardNumber?.touched"
      >
      <div class="two-inputs">
          <input
            class="expiration"
            type="text"
            formControlName="expiration"
            placeholder="Expiration"
            [class.invalid]="expiration?.invalid && expiration?.touched"
            (input)="formatExpiration($event)"
          >
          <input
            class="cvv"
            type="number"
            formControlName="cvv"
            placeholder="CVV"
            [class.invalid]="cvv?.invalid && cvv?.touched"
          >
      </div>
      <div *ngIf="isFormInvalid()" class="error-message">
          Сard entered incorrectly
      </div>
  </form>
  <input class="zip" type="text" placeholder="ZIP code"> 
  <hr>
</div>



<div class="required">
    <h2>Required for your trip</h2>

    <div class="container">
        <div class="item">
          <div class="column">
            <h3>Message the Host</h3>
            <p>Share why you’re travelling, who’s coming with you, and what you love about the space.</p>
          </div>
          <a class="btn-add" *ngIf="!messageSaved" (click)="openModal(1)">Add</a>
        <a class="btn-edit" *ngIf="messageSaved" (click)="openModal(1)">Edit</a>
        </div>
      
        <div class="item">
          <div class="column">
            <h3>Profile photo</h3>
            <p>Hosts want to know who’s staying at their place.</p>
          </div>
          <a class="btn-add" *ngIf="!profilePhotoSaved" (click)="openModal(2)">Add</a>
        <a class="btn-edit" *ngIf="profilePhotoSaved" (click)="openModal(2)">Edit</a>

        </div>
      
        <div class="item last-item">
          <div class="column">
            <h3>Phone number</h3>
            <p>Add and confirm your phone number to get trip updates.</p>
          </div>
          <a class="btn-add" *ngIf="!phoneSaved" (click)="openModal(3)">Add</a>
        <a class="btn-edit " *ngIf="phoneSaved" (click)="openModal(3)">Edit</a>
        </div>
      </div>

    <div class="modal-overlay" *ngIf="modalOpen">
        <div class="modal">
        <div class="messageState" *ngIf="modalId === 1">
            <div class="header"> 
                <a class="btn-close" (click)="closeModal()">
                    <img src="/assets/images/icons/close.svg">
                </a>
                <h2>Message the Host</h2>
            </div>
            <div class="main">
                <p>
                    Share why you’re traveling, who’s coming with you, and what love about the space.
                </p>
                <div class="text-block">
                    <div class="user">
                        <img src="/assets/images/icons/man-user.svg">
                        <div class="column">
                            <h3>Dawid</h3>
                            <p>Joined in 2023</p>
                        </div>
                    </div>
                    <p>Hi, if you have any question before booking, I’m here to help.</p>
                </div>
                <textarea class="messageInput" rows="10" [(ngModel)]="messageText"></textarea>
            </div>
            <div class="block-save">
                <a (click)="saveMessage()">Save</a>
            </div>
            
        </div>
        <div class="photoState" *ngIf="modalId === 2">
            <div class="header">
              <a class="btn-close" (click)="closeModal()">
                <img src="/assets/images/icons/close.svg">
              </a>
              <h2>Add your profile photo</h2>
            </div>
            <div class="main">
              <div class="img-container">
                <img *ngIf="profilePhoto" [src]="profilePhoto" alt="Profile Photo">
                <img *ngIf="!profilePhoto" src="/assets/images/icons/user2.svg" alt="Default Photo">
              </div>
          
              <p>
                Pick an image that shows your face. Hosts won't be able to see your profile photo until your booking is confirmed.
              </p>
              <div class="row">
                <a class="accept" (click)="savePhoto()">Yes, looks good</a>
                <a class="addPhoto" (click)="triggerFileInput()">Take a new photo</a>
              </div>
              <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;">
            </div>
          </div>
          

        <div class="numberState" *ngIf="modalId === 3">
            <div class="header"> 
                <a class="btn-close" (click)="closeModal()">
                    <img src="/assets/images/icons/close.svg">
                </a>
                <h2>Add phone number</h2>
            </div>
            <div class="main">
                <h2>
                    We’ll send you trip updates and a text to verify this number.
                </h2>
                <div class="region">
                    <p class="label">Country/region</p>
                    <p class="country">Ukraine (+380)</p>
                </div>
                <form [formGroup]="phoneForm">
                    <input
                    [(ngModel)]="phoneText"
                      type="text"
                      class="inputNumber"
                      formControlName="phoneNumber"
                      placeholder="Enter phone number"
                      [class.invalid]="phoneNumber?.invalid && phoneNumber?.touched"
                    >
                    <div *ngIf="phoneNumber?.invalid && phoneNumber?.touched" class="error-message">
                        Incorrect phone number entered
                    </div>
                    <a class="save" [class.disabled]="phoneForm.invalid" (click)="save()"  (click)="savePhone()" [class.inactive]="phoneForm.invalid">Save</a>
                  </form>
            </div>
        </div>
          
        </div>
      </div>
</div>



<app-footer></app-footer>
