.main {
    font-family: 'Montserrat', sans-serif; 
    margin-left: 212px;
    margin-top: 56px;
    @media (min-width: 766px) and (max-width: 1400px) {
        margin-top: 600px;
    }
    @media (min-width: 766px) and (max-width: 1000px) {
        margin-left: 1%;
       
    }
    @media (max-width: 766px) {
       margin-top: 600px;
       margin-left: 10%;
    }
    h1 {
        margin: 0;
       font-size: 38px;
       font-weight: 600; 
    }

    h2 {
        margin: 0;
        font-size: 26px;
        margin-top: 63px;
    }

    h3 {
        margin: 0;
        font-size: 20px;
        font-weight: 600;
    }

    p {
        margin: 0;
        font-size: 20px;
        margin-top: 14px;
    }
    .dates {
        margin-top: 34px;
    }

    .guests {
        margin-top: 34px;
    }
}

.info-block {
    font-family: 'Montserrat', sans-serif; 
    position: absolute;
    top: 120px;
    right: 218px;
    width: 620px;
    height: 410px;
    box-shadow: 0px 9.11px 24.29px 0px #0000001F;
    padding-top: 62px;
    padding-left: 36px;
    padding-right: 48px;
    border-radius: 62px;
    border: 1.52px solid #DDDDDD;
    @media (max-width: 766px) {
        right: unset;
        width: 80%;
        left: 1%;
    }
    @media (min-width: 1000px) and (max-width: 1400px) {
        right: unset;
        left: 212px;
       
    }
    @media (min-width: 766px) and (max-width: 1000px) {
        right: unset;
        left: 1%;
       
    }
    .head {
        width: 550px;
        height: 154px;
        display: flex;
        flex-direction: row;
        img {
            width: 154px;
            height: 154px;
            border-radius: 16px;
        }
        .info {
            width: 40%;
            margin-left: 21px;
            h2 {
                 font-family: 'Montserrat', sans-serif;  
                font-size: 32px;
                font-weight: 600;
            }
            .location {
                font-size: 18px;
            }
            .reviews {
                display: flex;
                flex-direction: row;
                align-items: center;
                
                img {
                    width: 20px;
                    height: 20px;
                    
                }
                
                h2 {
                    margin: 0;
                    margin-left: 4px;
                    font-size:18px;
                    font-weight: 400;
                }
            }
        }
        
    }

    .price {
        font-family: 'Montserrat', sans-serif;
        margin-top: 54px;
        hr {
            background-color: #DDDDDD;
            margin-top: 21px;
           
        }
        p {
            margin: 0;
        }
        .sum {
            display: flex;
            flex-direction: row;
            .nights {
                font-size: 24px;
                font-weight: 400;
            }
            .res {
                margin-left: auto;
                font-size: 24px;
                font-weight: 600;
            }
        }

        .services {
            margin-top: 16px;
            display: flex;
            flex-direction: row; 
            .fee {
                font-size: 18px;
            }
            .included {
                font-size: 18px;
                margin-left: auto;
            }
        }

        .taxes {
            margin-top: 16px;
            display: flex;
            flex-direction: row; 
            .name {
                font-size: 18px;
            }
            .included {
                font-size: 18px;
                margin-left: auto;
            }
        }

        .result {
            display: flex;
            flex-direction: row;
            margin-top: 21px;
            p {
                margin: 0;
            }
            .total {
                font-size:28px;
                font-weight: 600;
            }

            .itog {
                margin-left: auto;
                font-size: 28px;
                font-weight: 600;
            }
        }
    }
}

.payment {
    font-family: 'Montserrat', sans-serif;
    margin-left: 212px;
    margin-top: 45px;
    @media (min-width: 766px) and (max-width: 1000px) {
        
       
    }
    @media (max-width: 766px) {
        margin-left: 10%;
    }
    hr {
        width: 745px;
        background-color: black;
        margin: 0;
        @media (max-width: 766px) {
            width: 90%;
        }
       
    }
    h3 {
        margin-top: 43px;
        font-size: 26px;
    }

    .method {
        width: 746px;
        height: 81px;
        border: 1px solid #000000;
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 35px;
        @media (max-width: 766px) {
            width: 346px;
        }
        img {
            width: 40px;
            height: 30px;
            margin-left: 25px;
        }
        p {
            margin: 0;
            font-size: 20px;
            color: #363636;
            margin-left: 23px;
        }
    }

    .number {
        margin-top: 28px;
        width: 721px;
        height: 81px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border: 1px solid #000000;
        font-size:20px;
        padding-left: 25px;
        @media (max-width: 766px) {
            width: 321px;
        }
    }

    .two-inputs {
        input {
        width: 346.5px;
       
        height: 81px;
        border: none;
        border-bottom: 1px solid #000000;
        padding-left: 25px;
        font-size:20px;
        @media (max-width: 766px) {
            width:146.5px;
        }
        }
        .expiration {
            border-bottom-left-radius: 25px;
            border-left: 1px solid #000000;
            border-right: 1px solid #000000;
        }
        .cvv {
            border-bottom-right-radius: 25px;
            border-right: 1px solid #000000;
        }
    }

    .zip {
        margin-top: 28px;
        width: 721px;
        height: 81px;
        border-radius: 25px;
        border: 1px solid #000000;
        font-size:20px;
        padding-left: 25px;
        @media (max-width: 766px) {
            width: 321px;
        }
    }

    
}

.confirm {
    margin-left: 800px;
    margin-top: 40px;
    @media (min-width: 766px) and (max-width: 1000px) {
       
       
    }
    @media (max-width: 766px) {
        margin-left: 10%;
    }
    display: block;
    width: 160px;
    height: 40px;
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    line-height: 40px;
    
}