.main {
    font-family: 'Montserrat', sans-serif; 
    margin-left: 212px;
    margin-top: 56px;
    @media (min-width: 766px) and (max-width: 1400px) {
        margin-top: 600px;
    }
    @media (min-width: 766px) and (max-width: 1000px) {
        margin-left: 1%;
       
    }
    @media (max-width: 766px) {
       margin-top: 600px;
       margin-left: 10%;
    }
    h1 {
        margin: 0;
       font-size: 38px;
       font-weight: 600; 
    }

    h2 {
        margin: 0;
        font-size: 26px;
        margin-top: 63px;
    }

    h3 {
        margin: 0;
        font-size: 20px;
        font-weight: 600;
    }

    p {
        margin: 0;
        font-size: 20px;
        margin-top: 14px;
    }
    .dates {
        margin-top: 34px;
    }

    .guests {
        margin-top: 34px;
    }
}

.info-block {
    font-family: 'Montserrat', sans-serif; 
    position: absolute;
    top: 120px;
    right: 218px;
    width: 620px;
    height: 550px;
    box-shadow: 0px 9.11px 24.29px 0px #0000001F;
    padding-top: 62px;
    padding-left: 36px;
    padding-right: 48px;
    border-radius: 62px;
    border: 1.52px solid #DDDDDD;
    @media (max-width: 766px) {
        right: unset;
        width: 80%;
        left: 1%;
    }
    @media (min-width: 1000px) and (max-width: 1400px) {
        right: unset;
        left: 212px;
       
    }
    @media (min-width: 766px) and (max-width: 1000px) {
        right: unset;
        left: 1%;
       
    }
    .head {
        width: 550px;
        height: 154px;
        display: flex;
        flex-direction: row;
        img {
            width: 154px;
            height: 154px;
            border-radius: 16px;
        }
        .info {
            width: 40%;
            margin-left: 21px;
            h2 {
                 font-family: 'Montserrat', sans-serif;  
                font-size: 32px;
                font-weight: 600;
            }
            .location {
                font-size: 18px;
            }
            .reviews {
                display: flex;
                flex-direction: row;
                align-items: center;
                
                img {
                    width: 20px;
                    height: 20px;
                    
                }
                
                h2 {
                    margin: 0;
                    margin-left: 4px;
                    font-size:18px;
                    font-weight: 400;
                }
            }
        }
        
    }

    .price {
        font-family: 'Montserrat', sans-serif;
        margin-top: 54px;
        hr {
            background-color: #DDDDDD;
            margin-top: 21px;
           
        }
        p {
            margin: 0;
        }
        .sum {
            display: flex;
            flex-direction: row;
            .nights {
                font-size: 24px;
                font-weight: 400;
            }
            .res {
                margin-left: auto;
                font-size: 24px;
                font-weight: 600;
            }
        }

        .services {
            margin-top: 16px;
            display: flex;
            flex-direction: row; 
            .fee {
                font-size: 18px;
            }
            .included {
                font-size: 18px;
                margin-left: auto;
            }
        }

        .taxes {
            margin-top: 16px;
            display: flex;
            flex-direction: row; 
            .name {
                font-size: 18px;
            }
            .included {
                font-size: 18px;
                margin-left: auto;
            }
        }

        .result {
            display: flex;
            flex-direction: row;
            margin-top: 50px;
            p {
                margin: 0;
            }
            .total {
                font-size:28px;
                font-weight: 600;
            }

            .itog {
                margin-left: auto;
                font-size: 28px;
                font-weight: 600;
            }
        }

        .order {
            
            display: block;
            width: 100%;
            height: 77px;
            background-color: #2288E6;
            border-radius: 17px;
            color: white;
            text-align: center;
            font-size: 24px;
            font-weight: 600;
            line-height: 70px;
            margin-top: 41px;
            cursor: pointer;
        }
    }
}

.payment {
    font-family: 'Montserrat', sans-serif;
    margin-left: 212px;
    margin-top: 45px;
    @media (min-width: 766px) and (max-width: 1000px) {
        
       
    }
    @media (max-width: 766px) {
        margin-left: 10%;
    }
    hr {
        width: 745px;
        background-color: black;
        margin: 0;
        @media (max-width: 766px) {
            width: 90%;
        }
       
    }
    h3 {
        margin-top: 43px;
        font-size: 26px;
    }

    .method {
        width: 746px;
        height: 81px;
        border: 1px solid #000000;
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 35px;
        @media (max-width: 766px) {
            width: 346px;
        }
        img {
            width: 40px;
            height: 30px;
            margin-left: 25px;
        }
        p {
            margin: 0;
            font-size: 20px;
            color: #363636;
            margin-left: 23px;
        }
    }

    .number {
        margin-top: 28px;
        width: 721px;
        height: 81px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border: 1px solid #000000;
        font-size: 20px;
        padding-left: 25px;
      }
      
      .number.invalid {
        border-color: #CD2020;
      }
      
      .error-message {
        color: #CD2020;
        font-size: 14px;
      }
      
      @media (max-width: 766px) {
        .number {
          width: 321px;
        }
      }

    .two-inputs {
        input {
        width: 346.5px;
       
        height: 81px;
        border: none;
        border-bottom: 1px solid #000000;
        padding-left: 25px;
        font-size:20px;
        @media (max-width: 766px) {
            width:146.5px;
        }
        }
        .expiration {
            border-bottom-left-radius: 25px;
            border-left: 1px solid #000000;
            border-right: 1px solid #000000;
        }

        .expiration.invalid {
            border-color: #CD2020;
          }
          
        .cvv {
            border-bottom-right-radius: 25px;
            border-right: 1px solid #000000;
        }
        .cvv.invalid {
            border-color: #CD2020;
          }
          
    }

    .zip {
        margin-top: 28px;
        width: 721px;
        height: 81px;
        border-radius: 25px;
        border: 1px solid #000000;
        font-size:20px;
        padding-left: 25px;
        margin-bottom: 25px;
        @media (max-width: 766px) {
            width: 321px;
        }
    }

    
}


.required {
    font-family: 'Montserrat', sans-serif;
    margin-left: 212px;
    margin-top: 57px;
    h2 {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 44px;
    }

    .container {
        .item {
            display: flex;
            flex-direction: row;
            width: 745px;
            align-items: center;
            margin-bottom: 44px;
            .column {
                display: flex;
                flex-direction: column;
                width: 594px;

                h3{
                    font-size: 20px;
                    font-weight: 600;
                }
                p {
                    font-size: 18px;
                    font-weight: 500;
                }
            }
            .btn-add {
                border: 1px solid black;
                border-radius: 12px;
                margin-left: auto;
                width: 82px;
                height: 46px;
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
                text-align: center;
                line-height: 45px;
                &:hover {
                    background-color: #D8D8D8;
                }
            }


        }
    }

    .modal-overlay {
        font-family: 'Montserrat', sans-serif;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Затемнение заднего фона */
        display: flex;
        justify-content: center;
        align-items: center;

        .modal {
            background-color: #fff;
            
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            max-width: 80%;
            text-align: center;
            width: 750px;
            height: 650px;
            h2 {
              font-size: 24px;
              margin-bottom: 10px;
            }
          
            p {
              font-size: 18px;
              margin-bottom: 20px;
            }

            .messageState { 
                font-family: 'Montserrat', sans-serif;
                .header {
                    width: 100%;
                    height: 78px;
                    border-bottom: 1px solid #D9D9D9;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    
                    a {
                        margin-top: 28px;
                        background-color: white;
                        img {
                            width: 16px;
                            height: 16px;
                        }
                    }
                    h2 {
                        margin-top: 28px;
                        font-size: 20px;
                        font-weight: 600;
                        margin-left: 220px;
                    }
                }
                .main {
                    margin-left: 0;

                    p {
                        font-size: 18;
                        font-weight: 500;
                    }
                    .text-block {
                        width: 90%;
                        height: 140px;
                       margin-left: 3%;
                        background-color: #F7F7F7;
                        border-radius: 15px;
                        padding-top: 28px;
                        padding-left: 24px;
                        .user {
                            display: flex;
                            flex-direction: row;
                           align-items: center;
 
                            img {
                                width: 64px;
                                height: 64px;
                            }
                            .column {
                                margin-left: 18px;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                h3 {
                                    margin: 0;
                                    font-size: 20px;
                                    font-weight: 600;
                                }
                                p {
                                    margin: 0;
                                    font-size: 20px;
                                    font-weight: 400;
                                }

                            }
                        }
                        p {
                            margin: 0;
                            margin-top: 30px;
                           font-size: 20px;
                           font-weight: 400; 
                           text-align: start;
                        }
                    }
                    .messageInput {
                        border: 1px solid #AFAFAF;
                        border-radius: 15px;
                        width: 90%;
                        height: 120px;
                        font-size: 20px;
                        margin-top: 40px;
                        padding: 10px;
                    }
                }

                .block-save {
                    width: 100%;
                    height: 100px;
                    border-top: 1px solid #D9D9D9;
                    
                    a {
                        border-radius: 10px;
                        display: block;
                        width: 90%;
                        margin-left: 5%;
                        margin-top: 15px;
                        height: 70px;
                        background-color: #111111;
                        text-align: center;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 70px;
                        color: white;
                        cursor: pointer;
                    }
                }
                
            }
          

            .photoState { 
                font-family: 'Montserrat', sans-serif;
                .header {
                    width: 100%;
                    height: 78px;
                    border-bottom: 1px solid #D9D9D9;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    
                    a {
                        margin-top: 28px;
                        background-color: white;
                        img {
                            width: 16px;
                            height: 16px;
                        }
                    }
                    h2 {
                        margin-top: 28px;
                        font-size: 20px;
                        font-weight: 600;
                        margin-left: 220px;
                    }
                }
                .main {
                    padding: 40px;
                    margin-left: 0;
                    .img-container {
                        display: flex;
                        justify-content: center; /* Горизонтальное центрирование */
                        margin-top: 30px; /* Добавьте отступ, если необходимо */
                        img {
                            width: 270px;
                            height: 270px;
                            border-radius: 50%;
                           }
                    }
                  
                   p {
                    font-size: 18px;
                    font-weight: 500;
                    margin: 0;
                    margin-top: 38px;
                    text-align: start;
                    
                   }
                   .row {
                    display: flex;
                    flex-direction: row;
                    a {
                        display: block;
                        text-align: center;
                        font-size:16px;
                        font-weight: 600;
                        line-height: 60px;
                        border-radius: 10px;
                        height: 57px;
                        margin-top: 23px;
                        cursor: pointer;
                    }

                    .accept {
                        background-color: #111111;
                        width: 386px;
                        color: white;
                    }
                    .addPhoto {
                        border: 1px solid black;
                        color: black; 
                        width: 261px;
                        margin-left: 10px;
                    }
                   }
                }
               
                
            }

            .numberState { 
                font-family: 'Montserrat', sans-serif;
                .header {
                    width: 100%;
                    height: 78px;
                    border-bottom: 1px solid #D9D9D9;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    
                    a {
                        margin-top: 28px;
                        background-color: white;
                        img {
                            width: 16px;
                            height: 16px;
                        }
                    }
                    h2 {
                        margin-top: 28px;
                        font-size: 20px;
                        font-weight: 600;
                        margin-left: 220px;
                    }
                }

                .main {
                    margin-left: 0;
                    h2 {
                        margin-left: 10%;
                        text-align: start;
                        font-weight: 500;
                        font-size: 18px;
                    }
                    .region {
                        width: 600px;
                        height: 80px;
                        padding: 18px;
                        padding-top: 35px;
                        border-radius: 12px;
                        border: 1px solid black;
                        margin-left: 7%;
                        p {
                            margin: 0;
                        }

                        .label {
                            font-size: 14px;
                            font-weight: 400;
                            color: #686868;
                            text-align: start;
                        }
                        .country {
                            font-size: 22px;
                            font-weight: 400;
                            text-align: start;
                            margin-top: 5px;
                        }
                    }
                    input[type="number"]::-webkit-outer-spin-button,
                    input[type="number"]::-webkit-inner-spin-button {
                         -webkit-appearance: none;
                         margin: 0;
                        }

                        .inputNumber {
                            width: 600px;
                            height: 80px;
                            padding: 18px;
                            padding-top: 35px;
                            border-radius: 12px;
                            border: 1px solid black;
                            margin: 0;
                            margin-top: 40px;
                            font-size: 30px;
                          }
                          
                          .inputNumber.invalid {
                            border-color: red;
                          }
                          
                          .error-message {
                            color: red;
                            font-size: 16px;
                            margin-top: 5px;
                          }
                          
                          .save {
                            display: block;
                            width: 130px;
                            height: 50px;
                            background-color: #111111;
                            border-radius: 10px;
                            font-size: 18px;
                            font-weight: 600;
                            text-align: center;
                            line-height: 50px;
                            color: white;
                            margin-left: auto;
                            margin-right: 7%;
                            margin-top: 50px;
                            cursor: pointer;
                          }
                          
                          .save.disabled {
                            background-color: gray;
                            cursor: not-allowed;
                          }
                          
                          .save.inactive {
                            pointer-events: none;
                          }
                }

            }
        
            .btn-close {
              background-color: #007bff;
              color: #fff;
              border: none;
              padding: 10px 20px;
              border-radius: 4px;
              cursor: pointer;
              font-size: 16px;
          
              &:hover {
                background-color: #0056b3;
              }
            }
          }
      }
      
     

    
}
