@charset "UTF-8";
.hidden {
  visibility: hidden;
}

.login-box {
  max-width: 795px;
  width: 100%;
  height: 821px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 0 auto;
  border-radius: 24px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding-top: 40px;
}
.login-box .logo {
  width: 48px;
  height: 48px;
  background-color: red;
  border-radius: 50%;
}
.login-box h1 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.login-box .signup-label {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.login-box .signup-label p {
  margin: 0;
}
.login-box .signup-label a {
  margin: 0;
  color: black;
  margin-left: 5px;
}
.login-box .signup-label a:hover {
  color: blueviolet;
}
.login-box .social-google {
  display: flex;
  flex-direction: row;
  max-width: 528px;
  width: 100%;
  height: 72px;
  border-radius: 40px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s ease;
  margin-top: 40px;
}
.login-box .social-google img {
  width: 24px;
  height: 24px;
}
.login-box .social-google h2 {
  font-family: "Avenir", sans-serif;
  margin: 0;
  margin-left: 16px;
  font-size: 22px;
  font-weight: 400;
  line-height: 30.05px;
}
.login-box .social-google:hover {
  background-color: rgb(230, 229, 229);
}
.login-box .or-box {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}
.login-box .or-box hr {
  border: none; /* Убираем рамку */
  height: 2px; /* Высота линии */
  width: 223.5px;
  background-color: rgba(102, 102, 102, 0.2509803922); /* Цвет линии */
  margin: 0; /* Отступы */
}
.login-box .or-box p {
  font-family: "Avenir", sans-serif;
  font-size: 24px;
  line-height: 32.78px;
  font-weight: 400;
  margin-left: 23px;
  margin-right: 23px;
  margin-top: 0;
  margin-bottom: 0;
  color: #666666;
}
.login-box .log-info {
  margin-top: 40px;
}
.login-box .log-info .password {
  margin-top: 40px;
}
.login-box .log-info p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  margin-bottom: 7px;
}
.login-box .log-info a {
  font-size: 18px;
  line-height: 27px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: rgba(102, 102, 102, 0.8);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: -27px;
  margin-bottom: 7px;
  margin-right: 5px;
}
.login-box .log-info a p {
  margin: 0;
}
.login-box .log-info a img {
  width: 24px;
  height: 24px;
}
.login-box .log-info input {
  width: 528px;
  height: 56px;
  border-radius: 12px;
  border: 1px solid rgba(102, 102, 102, 0.3490196078); /* Чтобы добавить рамку, укажите толщину и цвет */
  padding: 10px; /* Добавляем отступы внутри инпута */
  box-sizing: border-box; /* Учитываем padding и border внутри width и height */
  font-size: 16px; /* Размер текста */
  /* Выравнивание текста по центру */
}
.login-box .login-btn {
  max-width: 528px;
  width: 100%;
  height: 64px;
  border-radius: 40px;
  background-color: #111111;
  opacity: 25%;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  text-decoration: none;
  margin-top: 40px;
}
.login-box .login-btn p {
  margin: 0;
  margin-top: 15px;
}
.login-box .login-btn.filled {
  background-color: #C99228;
  opacity: 100%; /* Цвет кнопки, когда поля заполнены */
}/*# sourceMappingURL=main.component.css.map */