<app-header></app-header>

<div class="overview">
    <h1>Overview</h1>
    <div class="links">
        <a href="#" class="share"><img src="../assets/images/icons/share.svg">Share </a>
        <a href="#" class="save"><img src="../assets/images/icons/heart.svg"> Save</a>
    </div>
</div>

<div class="parent">
    <div class="div1"><img src="https://t4.ftcdn.net/jpg/00/09/21/15/360_F_9211505_d4hxfNtPeTfgt7AeGmoO7u79P2hwxkoQ.jpg"> </div>
    <div class="div2"><img src="https://t4.ftcdn.net/jpg/00/48/05/67/360_F_48056772_4xzGQerR7lW82z7MPTN8AulMraNIOZEJ.jpg"></div>
    <div class="div3"><img src="https://thumbs.dreamstime.com/b/%D0%B3%D0%BE%D1%81%D1%82%D0%B8%D0%BD%D0%B8%D1%87%D0%BD%D1%8B%D0%B5-%D0%BD%D0%BE%D0%BC%D0%B5%D1%80%D0%B0-8146308.jpg"></div>
    <div class="div4"> <img src="https://t4.ftcdn.net/jpg/00/48/05/67/360_F_48056772_4xzGQerR7lW82z7MPTN8AulMraNIOZEJ.jpg"></div>
    <div class="div5"> <img src="https://t4.ftcdn.net/jpg/00/48/05/67/360_F_48056772_4xzGQerR7lW82z7MPTN8AulMraNIOZEJ.jpg"></div>
</div>
  
<div class="main">
    <div class="name">
        <h2 class="hotel-name">Entire villa in Koromačno, Croatia</h2>
        <p class="copacity">8 guests · 4 bedrooms · 4 beds · 5 baths</p>
        <div class="rating"><img src="../assets/images/icons/star-fill.svg"><p> No reviews yet</p></div>
    </div>
    <hr>
    <div class="host">
       <img src="../assets/images/icons/man-user.svg">
       <div class="column">
        <h2>Marco Pellini</h2>
        <p>3 years hosting</p>
    </div>

    </div>
    <hr>
    <div class="activity">
        <div class="item">
            <img src="../assets/images/icons/activity.svg">
             <div class="column">
                <h3>Play pool with your friends</h3>
                <p>You can play pool lalalalala</p>
            </div>
        </div>

        <div class="item">
            <img src="../assets/images/icons/activity.svg">
             <div class="column">
                <h3>Play pool with your friends</h3>
                <p>You can play pool lalalalala</p>
            </div>
        </div>

        <div class="item">
            <img src="../assets/images/icons/activity.svg">
             <div class="column">
                <h3>Play pool with your friends</h3>
                <p>You can play pool lalalalala</p>
            </div>
        </div>
    </div>

    <hr class="hr-3"> 
    <div class="description">
        <p>
            With the majestic Villa Panoramica we present you an absolutely spectacular vacation home. The architecturally exclusive house with especially many extras is located on an impressive, over 8,000 m² large, gently sloping and completely fenced area in southwestern orientation. An absolute highlight on the extremely well-kept grounds is the 14.5 m long infinity saltwater pool, which can be heated on request. From the water and from the surrounding terrace you have a sensationally beautiful
        </p>
    </div>

    <hr class="hr-4">


    <div class="booking">
        <div class="first-line">
            <div class="price">500 <p>night</p></div>
            <div class="rating"><img src="../assets/images/icons/star-fill.svg"><p>4.99</p></div>
            <div class="reviews">337 reviews</div>
        </div>

        <div class="date-picker">
            <div class="line">
                <div class="div1">
                    <p class="label">CHECK-IN</p>
                    <p class="date">2/6/2024</p>    
                </div>
                <div class="div2">
                    <p class="label">CHECKOUT</p>
                    <p class="date">2/11/2024</p>      
                </div>
            </div>
            <div class="div3"> 
                <p class="label">GUESTS</p>
                <p class="date">1 guest</p> 
            </div>
        </div>

        <div class="btn-reserve">Reserve</div>

        <p class="charged">You won’t be charged yet</p>

        <div class="total-price">
            <div class="item">
                <p class="label">500 x 5 nights</p>
                <p class="sum">$2,500</p>
            </div>

            <div class="item">
                <p class="label">Long stay discount</p>
                <p class="sum">-$300</p>
            </div>

            <div class="item">
                <p class="label">Cleaning fee</p>
                <p class="sum">$200</p>
            </div>

            <div class="item">
                <p class="label">Service fee</p>
                <p class="sum">$0</p>
            </div>

        </div>

        <hr>

        <div class="total-before">
            <p class="label">Total before taxes</p>
            <p class="sum">$2,400</p>
        </div>
    </div>
</div>

<div class="other">
    <div class="rooms">
        <h2>Where you'll sleep</h2>
        <div class="item">
            <img src="../assets/images/icons/room-key.svg">
            <h3>Bedroom</h3>
            <p>1 double bed</p>
        </div>
    </div>

    <hr class="hr-5">

    <div class="amenities">
        <h2>Where you'll sleep</h2>
        <div class="row">
            <div class="column">
                <div class="item"> 
                    <img src="../assets/images/icons/swimming-pool.svg">
                    <p>Swimming pool</p>
                </div>

                <div class="item"> 
                    <img src="../assets/images/icons/wifi.svg">
                    <p>Wifi</p>
                </div>

                <div class="item"> 
                    <img src="../assets/images/icons/wifi.svg">
                    <p>Wifi</p>
                </div>

                <div class="item"> 
                    <img src="../assets/images/icons/wifi.svg">
                    <p>Wifi</p>
                </div>

                <div class="item"> 
                    <img src="../assets/images/icons/wifi.svg">
                    <p>Wifi</p>
                </div>
            </div>

            <div class="column">
                <div class="item"> 
                    <img src="../assets/images/icons/wifi.svg">
                    <p>Wifi</p>
                </div>

                <div class="item"> 
                    <img src="../assets/images/icons/wifi.svg">
                    <p>Wifi</p>
                </div>

                <div class="item"> 
                    <img src="../assets/images/icons/wifi.svg">
                    <p>Wifi</p>
                </div>

                <div class="item"> 
                    <img src="../assets/images/icons/wifi.svg">
                    <p>Wifi</p>
                </div>

                <div class="item"> 
                    <img src="../assets/images/icons/wifi.svg">
                    <p>Wifi</p>
                </div>
            </div>
        </div>

        <div class="show"><p>Show all 59 amenities</p></div>
    </div>

    <hr class="hr-6">

</div>

<div class="reviews">
    <div class="head">
        <img src="../assets/images/icons/star-fill.svg">
        <h2>4.93 · 223 reviews</h2>
    </div>
    <div class="reviews-row">
        <div class="row">
            <div class="overall-rating">
                <h2>Overall rating</h2>
                <div class="item">
                    <p>5</p><hr>
                </div>
                <div class="item">
                    <p>4</p><hr>
                </div>
                <div class="item">
                    <p>3</p><hr class="none">
                </div>
                <div class="item">
                    <p>2</p><hr class="none">
                </div>
                <div class="item">
                    <p>1</p><hr class="none">
                </div>
            </div>
        </div>
    
        <div class="category">
            <div class="item"> 
                <p>Cleanliness</p>
                <p>4.6</p>
                <img src="../assets/images/icons/clean.svg">    
            </div>

            <div class="item"> 
                <p>Cleanliness</p>
                <p>4.6</p>
                <img src="../assets/images/icons/clean.svg">    
            </div>

            <div class="item"> 
                <p>Cleanliness</p>
                <p>4.6</p>
                <img src="../assets/images/icons/clean.svg">    
            </div>

            <div class="item"> 
                <p>Cleanliness</p>
                <p>4.6</p>
                <img src="../assets/images/icons/clean.svg">    
            </div>

            <div class="item"> 
                <p>Cleanliness</p>
                <p>4.6</p>
                <img src="../assets/images/icons/clean.svg">    
            </div>

            <div class="item"> 
                <p>Cleanliness</p>
                <p>4.6</p>
                <img src="../assets/images/icons/clean.svg">    
            </div>
        </div>
    </div>

    <hr class="hr-review">

    <div class="main2"> 
        <div class="item">
            <div class="temp">
                <img class="user-img" src="../assets/images/icons/man-user.svg">

                <div>
                    <p class="name">Susan</p>
                    <p class="location">Ukraine, Odesa</p>
                </div>
               
            </div>
           
            <div class="row"> 
                <div class="stars">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                </div>
                <p class="time">1 week ago</p>
            </div>
           
            <p class="text">With the majestic Villa Panoramica we present you an absolutely spectacular vacation home. </p>
        </div>

        <div class="item">
            <div class="temp">
                <img class="user-img" src="../assets/images/icons/man-user.svg">

                <div>
                    <p class="name">Susan</p>
                    <p class="location">Ukraine, Odesa</p>
                </div>
               
            </div>
           
            <div class="row"> 
                <div class="stars">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                </div>
                <p class="time">1 week ago</p>
            </div>
           
            <p class="text">With the majestic Villa Panoramica we present you an absolutely spectacular vacation home. </p>
        </div>

        <div class="item">
            <div class="temp">
                <img class="user-img" src="../assets/images/icons/man-user.svg">

                <div>
                    <p class="name">Susan</p>
                    <p class="location">Ukraine, Odesa</p>
                </div>
               
            </div>
           
            <div class="row"> 
                <div class="stars">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                </div>
                <p class="time">1 week ago</p>
            </div>
           
            <p class="text">With the majestic Villa Panoramica we present you an absolutely spectacular vacation home. </p>
        </div>

        <div class="item">
            <div class="temp">
                <img class="user-img" src="../assets/images/icons/man-user.svg">

                <div>
                    <p class="name">Susan</p>
                    <p class="location">Ukraine, Odesa</p>
                </div>
               
            </div>
           
            <div class="row"> 
                <div class="stars">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                </div>
                <p class="time">1 week ago</p>
            </div>
           
            <p class="text">With the majestic Villa Panoramica we present you an absolutely spectacular vacation home. </p>
        </div>

        <div class="item">
            <div class="temp">
                <img class="user-img" src="../assets/images/icons/man-user.svg">

                <div>
                    <p class="name">Susan</p>
                    <p class="location">Ukraine, Odesa</p>
                </div>
               
            </div>
           
            <div class="row"> 
                <div class="stars">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                </div>
                <p class="time">1 week ago</p>
            </div>
           
            <p class="text">With the majestic Villa Panoramica we present you an absolutely spectacular vacation home. </p>
        </div>

        <div class="item">
            <div class="temp">
                <img class="user-img" src="../assets/images/icons/man-user.svg">

                <div>
                    <p class="name">Susan</p>
                    <p class="location">Ukraine, Odesa</p>
                </div>
               
            </div>
           
            <div class="row"> 
                <div class="stars">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                </div>
                <p class="time">1 week ago</p>
            </div>
           
            <p class="text">With the majestic Villa Panoramica we present you an absolutely spectacular vacation home. </p>
        </div>

        <div class="item">
            <div class="temp">
                <img class="user-img" src="../assets/images/icons/man-user.svg">

                <div>
                    <p class="name">Susan</p>
                    <p class="location">Ukraine, Odesa</p>
                </div>
               
            </div>
           
            <div class="row"> 
                <div class="stars">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                    <img src="../assets/images/icons/star-fill.svg">
                </div>
                <p class="time">1 week ago</p>
            </div>
           
            <p class="text">With the majestic Villa Panoramica we present you an absolutely spectacular vacation home. </p>
        </div>
    </div>


    <hr class="hr-review2">
</div>
    <div class="info">
        <div class="support">
            <h3>Support</h3>
            <a href="helpcenter">Help Center</a>
            <p>Help Center</p>
            <p>Help Center</p>
            <p>Help Center</p>
            <p>Help Center</p>
            <p>Help Center</p>
        </div>

        <div class="hosting">
            <h3>Hosting</h3>
            <p>Airbnb your home</p>
            <p>Airbnb your home</p>
            <p>Airbnb your home</p>
            <p>Airbnb your home</p>
            <p>Airbnb your home</p>
            <p>Airbnb your home</p>
        </div>

        <div class="airbnb">
            <h3>Airbnb</h3>
            <p>Newsroom</p>
            <p>Newsroom</p>
            <p>Newsroom</p>
            <p>Newsroom</p>
            <p>Newsroom</p>
            <p>Newsroom</p>

        </div>
    </div>

<footer>
    <p class="text">2024 blalala, Inc.</p>
    <a class="terms" href="#">Terms</a>
    <a class="sitemap" href="#">Sitemap</a>
    <a class="privacy" href="#">Privacy</a>
    <a class="choices" href="#">Your Privacy Choices</a>

    <div class="temp">
        <p>USD ($)</p>
        <p>English</p>
    </div>
   
</footer>
    
