
<ng-container *ngIf="!!stay">
    
    <div class="parent">
        <div class="div1 main-image"><img [src]="stay.imageUrls[0] || '../assets/images/placeholder.webp'"></div>
        <div class="div2"><img [src]="stay.imageUrls[1] || '../assets/images/placeholder.webp'"></div>
        <div class="div3"><img [src]="stay.imageUrls[2] || '../assets/images/placeholder.webp'"></div>
        <div class="div4"><img [src]="stay.imageUrls[3] || '../assets/images/placeholder.webp'"></div>
        <div class="div5"><img [src]="stay.imageUrls[4] || '../assets/images/placeholder.webp'"></div>
    </div>

    <div class="main">
        <div class="name">
            <h2 class="hotel-name">{{ stay.title}} in {{ stay.location }}</h2>
            <p class="copacity">{{ stay.maxGuests }} guests · {{ stay.bedrooms }} bedrooms · {{ stay.beds }} beds · {{ stay.bathrooms }} baths</p>
            <div class="rating"><img src="../assets/images/icons/star-fill.svg">
                <p> No reviews yet</p>
            </div>
        </div>
        <hr>
        <div class="host">
            <img style="border-radius: 100%;" [src]="stay.owner.imageUrl || '../assets/images/icons/man-user.svg'">
            <div class="column">
                <h2>{{ stay.owner.userName }}</h2>
                <p>{{ stay.owner.yearsOfHosting }} years hosting</p>
            </div>

        </div>
        <hr>
      

      
        <div class="description">
            <p>
                {{ stay.description }}
            </p>
        </div>

        <hr class="hr-4">


        <div class="booking" [class.expanded]="isAvailable" [style.height]="isAvailable ? '330px' : '300px'">
            <div class="first-line">
                <div class="price">${{ stay.price }} <p>per night</p>
                </div>
            </div>
            <div class="row">
                <div class="calendar">
                    <mat-form-field>
                        <mat-label>Check in - Check out</mat-label>
                        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                            <input matStartDate formControlName="start" placeholder="Start date">
                            <input matEndDate formControlName="end" placeholder="End date">
                        </mat-date-range-input>

                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>

                        <mat-error *ngIf="range.controls['start'].hasError('matStartDateInvalid')">Invalid start
                            date</mat-error>
                        <mat-error *ngIf="range.controls['end'].hasError('matEndDateInvalid')">Invalid end
                            date</mat-error>

                    </mat-form-field>
                </div>
                <div class="guests" (click)="toggleDropdown2()">{{count}} guest</div>
            </div>
            <div class="total-cost" [style.visibility]="isAvailable ? 'visible' : 'hidden'">
                <h3>Total nights stay</h3>
                <h3 class="cost">${{ cost }}</h3>
            </div>
            <div class="btn-reserve" (click)="onSubmit()" [style.margin-top]="isAvailable ? '-5px' : '-40px'">
                {{ isAvailable ? 'Request to book' : 'Check availability' }}
            </div>



            <div class="dropdown-guests" *ngIf="dropdownOpen2">
                <div class="item">
                    <div class="column">
                        <h3>Adults</h3>
                        <p>Ages 13 or above</p>
                    </div>
                    <div class="count">
                        <a (click)="decrementCounter('adults')">-</a>
                        <span>{{ adults_count }}</span>
                        <a (click)="incrementCounter('adults')">+</a>
                    </div>

                </div>
                <hr>

                <div class="item">
                    <div class="column">
                        <h3>Children</h3>
                        <p>Ages 2 - 12</p>
                    </div>
                    <div class="count">
                        <a (click)="decrementCounter('children')">-</a>
                        <span>{{ children_count }}</span>
                        <a (click)="incrementCounter('children')">+</a>
                    </div>

                </div>
                <hr>

                <div class="item">
                    <div class="column">
                        <h3>Infants</h3>
                        <p>Under 2</p>
                    </div>
                    <div class="count">
                        <a (click)="decrementCounter('infants')">-</a>
                        <span>{{ infants_count }}</span>
                        <a (click)="incrementCounter('infants')">+</a>
                    </div>

                </div>
                <hr>

                <div class="item">
                    <div class="column">
                        <h3>Pets</h3>
                        <p>Bringing a servise animal</p>
                    </div>
                    <div class="count">
                        <a (click)="decrementCounter('pets')">-</a>
                        <span>{{ pets_count }}</span>
                        <a (click)="incrementCounter('pets')">+</a>
                    </div>

                </div>


            </div>
        </div>

        <div class="other">


            <div class="amenities">
                <h2>Amenities</h2>
                <div class="row">
                    <div class="column">
                        <div class="item" *ngFor="let amenity of amenitiesLeft">
                            <img [src]="amenity.imgUrl">
                            <p>{{ amenity.name }}</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="item" *ngFor="let amenity of amenitiesRight">
                            <img [src]="amenity.imgUrl">
                            <p>{{ amenity.name }}</p>
                        </div>
                    </div>
                </div>
            </div>
            

            <hr class="hr-6">

        </div>

        <div class="reviews">
            <div class="head">
                <img src="../assets/images/icons/star-fill.svg">
                <h2>{{ stay.rating.overall }} · 223 reviews</h2>
            </div>
            <div class="reviews-row">
                <div class="row">
                    <div class="overall-rating">
                        <h2>Overall rating</h2>
                        <div class="item">
                            <p>5</p>
                            <hr>
                        </div>
                        <div class="item">
                            <p>4</p>
                            <hr>
                        </div>
                        <div class="item">
                            <p>3</p>
                            <hr class="none">
                        </div>
                        <div class="item">
                            <p>2</p>
                            <hr class="none">
                        </div>
                        <div class="item">
                            <p>1</p>
                            <hr class="none">
                        </div>
                    </div>
                </div>

                <div class="category">
                    <div class="item">
                        <p>Cleanliness</p>
                        <p>{{ stay.rating.cleanliness }}</p>
                        <img src="../assets/images/icons/clean.svg">
                    </div>

                    <div class="item">
                        <p>Cleanliness</p>
                        <p>{{ stay.rating.cleanliness }}</p>
                        <img src="../assets/images/icons/clean.svg">
                    </div>

                    <div class="item">
                        <p>Cleanliness</p>
                        <p>{{ stay.rating.cleanliness }}</p>
                        <img src="../assets/images/icons/clean.svg">
                    </div>

                    <div class="item">
                        <p>Cleanliness</p>
                        <p>{{ stay.rating.cleanliness }}</p>
                        <img src="../assets/images/icons/clean.svg">
                    </div>

                    <div class="item">
                        <p>Cleanliness</p>
                        <p>{{ stay.rating.cleanliness }}</p>
                        <img src="../assets/images/icons/clean.svg">
                    </div>

                    <div class="item">
                        <p>Cleanliness</p>
                        <p>{{ stay.rating.cleanliness }}</p>
                        <img src="../assets/images/icons/clean.svg">
                    </div>
                </div>
            </div>

            <hr class="hr-review">

            <div class="main2">
                <div class="item">
                    <div class="temp">
                        <img class="user-img" src="../assets/images/icons/man-user.svg">

                        <div>
                            <p class="name">Susan</p>
                            <p class="location">Ukraine, Odesa</p>
                        </div>

                    </div>

                    <div class="row">
                        <div class="stars">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                        </div>
                        <p class="time">1 week ago</p>
                    </div>

                    <p class="text">With the majestic Villa Panoramica we present you an absolutely spectacular vacation
                        home. </p>
                </div>

                <div class="item">
                    <div class="temp">
                        <img class="user-img" src="../assets/images/icons/man-user.svg">

                        <div>
                            <p class="name">Susan</p>
                            <p class="location">Ukraine, Odesa</p>
                        </div>

                    </div>

                    <div class="row">
                        <div class="stars">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                        </div>
                        <p class="time">1 week ago</p>
                    </div>

                    <p class="text">With the majestic Villa Panoramica we present you an absolutely spectacular vacation
                        home. </p>
                </div>

                <div class="item">
                    <div class="temp">
                        <img class="user-img" src="../assets/images/icons/man-user.svg">

                        <div>
                            <p class="name">Susan</p>
                            <p class="location">Ukraine, Odesa</p>
                        </div>

                    </div>

                    <div class="row">
                        <div class="stars">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                        </div>
                        <p class="time">1 week ago</p>
                    </div>

                    <p class="text">With the majestic Villa Panoramica we present you an absolutely spectacular vacation
                        home. </p>
                </div>

                <div class="item">
                    <div class="temp">
                        <img class="user-img" src="../assets/images/icons/man-user.svg">

                        <div>
                            <p class="name">Susan</p>
                            <p class="location">Ukraine, Odesa</p>
                        </div>

                    </div>

                    <div class="row">
                        <div class="stars">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                        </div>
                        <p class="time">1 week ago</p>
                    </div>

                    <p class="text">With the majestic Villa Panoramica we present you an absolutely spectacular vacation
                        home. </p>
                </div>

                <div class="item">
                    <div class="temp">
                        <img class="user-img" src="../assets/images/icons/man-user.svg">

                        <div>
                            <p class="name">Susan</p>
                            <p class="location">Ukraine, Odesa</p>
                        </div>

                    </div>

                    <div class="row">
                        <div class="stars">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                        </div>
                        <p class="time">1 week ago</p>
                    </div>

                    <p class="text">With the majestic Villa Panoramica we present you an absolutely spectacular vacation
                        home. </p>
                </div>

                <div class="item">
                    <div class="temp">
                        <img class="user-img" src="../assets/images/icons/man-user.svg">

                        <div>
                            <p class="name">Susan</p>
                            <p class="location">Ukraine, Odesa</p>
                        </div>

                    </div>

                    <div class="row">
                        <div class="stars">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                        </div>
                        <p class="time">1 week ago</p>
                    </div>

                    <p class="text">With the majestic Villa Panoramica we present you an absolutely spectacular vacation
                        home. </p>
                </div>

                <div class="item">
                    <div class="temp">
                        <img class="user-img" src="../assets/images/icons/man-user.svg">

                        <div>
                            <p class="name">Susan</p>
                            <p class="location">Ukraine, Odesa</p>
                        </div>

                    </div>

                    <div class="row">
                        <div class="stars">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                            <img src="../assets/images/icons/star-fill.svg">
                        </div>
                        <p class="time">1 week ago</p>
                    </div>

                    <p class="text">With the majestic Villa Panoramica we present you an absolutely spectacular vacation
                        home. </p>
                </div>
            </div>


           
            
        </div>
        <app-footer></app-footer>
    </div>
   
    <div class="booking-mobile">
        <div class="column">
            <div class="calendar">
                <mat-form-field>
                    <mat-label>Check in - Check out</mat-label>
                    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                        <input matStartDate formControlName="start" placeholder="Start date">
                        <input matEndDate formControlName="end" placeholder="End date">
                    </mat-date-range-input>
    
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
    
                    <mat-error *ngIf="range.controls['start'].hasError('matStartDateInvalid')">Invalid start
                        date</mat-error>
                    <mat-error *ngIf="range.controls['end'].hasError('matEndDateInvalid')">Invalid end
                        date</mat-error>
    
                </mat-form-field>
                
            </div>
        
        </div>
        
        <a class="reserve-btn" (click)="onSubmit()">Reserve</a> 
    </div>

     
</ng-container>


    


