.register-box {
    .main-a {
        display: none;
        margin-top: 20px;
        margin-bottom: 30px;
        @media (max-width: 766px) {
            display: block;
        }
    }
    max-width: 592px;
    width: 99%;
    height: 1569px;
    margin: 0 auto;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;

    .logo {
        width: 48px;
        height: 48px;
        background-color: red;
        border-radius: 50%;
    }

    h1 {
        font-size: 32px;
        line-height: 48px;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        margin-top: 8px;
    }

    .social-google {
        display: flex;
        flex-direction: row;
        max-width: 528px;
        width: 100%;
        height: 72px;
        border-radius: 40px;
        border: 1px solid black;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
        transition: background-color 0.3s ease;
        margin-top: 48px;
        
        img {
            width: 24px;
            height: 24px;
        }

        h2 {
            font-family: 'Avenir', sans-serif;
            margin: 0;
            margin-left: 16px;
            font-size: 22px;
            font-weight: 400;
            line-height: 30.05px;
        }

        &:hover {
            background-color: rgb(230, 229, 229);
        }
    }

    .or-box {
        display: flex;
        flex-direction: row;
        margin-top: 48px;
        align-items: center;
        justify-content: center;
        
        hr {
            border: none;
            height: 2px;
            width: 223.5px;
            background-color: #66666640;
            margin: 0; 
        }

        p {
            font-family: 'Avenir', sans-serif;
            font-size: 24px;
            line-height: 32.78px;
            font-weight: 400;
            margin-left: 23px;
            margin-right: 23px;
            margin-top: 0;
            margin-bottom: 0;
            color: #666666;
        }
    }

    .p-signup {
        margin-top: 48px;
        font-size: 18px;
        line-height: 27px;
        font-weight: 500px;
        font-family: "Poppins", sans-serif;
    }

    .reg-info {
        margin-top: 40px;

        .email {
            margin-top: 24px;
        }
        
        .password {
            margin-top: 24px;

            p {
                font-family: Poppins;
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                margin-top: 4px;
            }
        }

        .repeat-password {
            margin-top: 24px;
        }

        p {
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            line-height: 16px;
            color: #666666;
            margin-bottom: 7px;
        }

        a {
            font-size: 18px;
            line-height: 27px;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            text-decoration: none;
            color: #666666CC;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            margin-top: -27px;
            margin-bottom: 7px;
            margin-right: 5px;
            
            p {
                margin: 0;
            }
            
            img {
                width: 24px;
                height: 24px;
            }
        }

        .main-input {
            width: 100%; /* Full width for responsiveness */
            max-width: 600px; /* Max width for larger screens */
            height: 56px;
            border-radius: 12px;
            border: 1px solid #66666659;
            padding: 10px;
            box-sizing: border-box;
            font-size: 16px;
        }

        .gender {
            margin-top: 40px;

            p {
                display: inline-block;
                font-family: Poppins;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
            }

            .optional-text {
                margin-left: 3px;
                color: #33333359;
            }

            .radio-row {
                display: flex;
            }
              
            .radio-row label {
                margin-right: 10px;
                font-family: Poppins;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
            }
        }

        .birthday {
            margin-top: 32px;
            
            p {
                margin: 0;
                font-family: Poppins;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
            }

            select {
                padding: 5px;
                font-size: 16px;
                border: 1px solid #66666659;
                border-radius: 12px;
                width: 100%; /* Full width for responsiveness */
                max-width: 180px; /* Max width for larger screens */
                height: 56px;
            }
              
            select:hover {
                background-color: #f0f0f0;
            }
              
            select:focus {
                outline: none;
                border: 1px solid #ccc;
                border-radius: 12px;
                background-color: #fff;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            }
              
            select option {
                background-color: #fff;
                color: #333;
            }
              
            select option:hover {
                background-color: #f0f0f0;
            }

            .birthday-box {
                display: flex;
                flex-direction: row;
                margin-top: 12px;
            }

            .checkbox-share {
                display: flex;
                flex-direction: row;
                margin-top: 48px;

                input[type="checkbox"] {
                    display: block;
                    width: 20px;
                    height: 20px;
                    background-color: black;
                    cursor: pointer;
                }
                
                label {
                    width: 80%;
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    margin-left: 8px;
                }
                  
                input[type="checkbox"] + label::after {
                    content: '\2713';
                    font-size: 16px;
                    color: white;
                    display: block;
                    text-align: center;
                    line-height: 20px;
                    visibility: hidden;
                }
                  
                input[type="checkbox"]:checked + label::after {
                    visibility: visible;
                }
            }
        }

        .agree {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin-top: 32px;
        }

        .register-btn {
            cursor: pointer;
            max-width: 528px;
            width: 100%;
            height: 64px;
            border-radius: 40px;
            background-color: #2288E6;
            border: none;
            font-family: "Poppins", sans-serif;
            color: white;
            font-size: 22px;
            font-weight: 500;
            line-height: 33px;
            text-align: center;
            text-decoration: none;
            margin-top: 40px;
            margin-bottom: 40px;
            p {
                font-size: 22px;
                color: white;
                margin-top: 3px;
            }
        }
    }
}

.error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

.register-btn {
    opacity: 0.25;
}

.register-btn:disabled {
    cursor: not-allowed;
    opacity: 0.25;
}

@media (max-width: 768px) {
    .register-box {
        padding-top: 20px;
        height: auto; /* Allow height to adjust */
        
        .main-input {
            width: 100%;
        }

        .birthday select {
            width: 100%;
            max-width: none;
        }

        .register-btn {
            width: 100%;
        }

        .social-google,
        .or-box,
        .p-signup,
        .reg-info {
            width: 100%;
            
        }
    }
}
