@charset "UTF-8";
.register-box {
  max-width: 592px;
  width: 100%;
  height: 1569px;
  margin: 0 auto;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
}
.register-box .logo {
  width: 48px;
  height: 48px;
  background-color: red;
  border-radius: 50%;
}
.register-box h1 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-top: 8px;
}
.register-box .social-google {
  display: flex;
  flex-direction: row;
  max-width: 528px;
  width: 100%;
  height: 72px;
  border-radius: 40px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s ease;
  margin-top: 48px;
}
.register-box .social-google img {
  width: 24px;
  height: 24px;
}
.register-box .social-google h2 {
  font-family: "Avenir", sans-serif;
  margin: 0;
  margin-left: 16px;
  font-size: 22px;
  font-weight: 400;
  line-height: 30.05px;
}
.register-box .social-google:hover {
  background-color: rgb(230, 229, 229);
}
.register-box .or-box {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
  align-items: center;
  justify-content: center;
}
.register-box .or-box hr {
  border: none; /* Убираем рамку */
  height: 2px; /* Высота линии */
  width: 223.5px;
  background-color: rgba(102, 102, 102, 0.2509803922); /* Цвет линии */
  margin: 0; /* Отступы */
}
.register-box .or-box p {
  font-family: "Avenir", sans-serif;
  font-size: 24px;
  line-height: 32.78px;
  font-weight: 400;
  margin-left: 23px;
  margin-right: 23px;
  margin-top: 0;
  margin-bottom: 0;
  color: #666666;
}
.register-box .p-signup {
  margin-top: 48px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500px;
  font-family: "Poppins", sans-serif;
}
.register-box .reg-info {
  margin-top: 40px;
}
.register-box .reg-info .email {
  margin-top: 24px;
}
.register-box .reg-info .password {
  margin-top: 24px;
}
.register-box .reg-info .password p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  margin-top: 4px;
}
.register-box .reg-info .repeat-password {
  margin-top: 24px;
}
.register-box .reg-info p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  margin-bottom: 7px;
}
.register-box .reg-info a {
  font-size: 18px;
  line-height: 27px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: rgba(102, 102, 102, 0.8);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: -27px;
  margin-bottom: 7px;
  margin-right: 5px;
}
.register-box .reg-info a p {
  margin: 0;
}
.register-box .reg-info a img {
  width: 24px;
  height: 24px;
}
.register-box .reg-info .main-input {
  width: 600px;
  height: 56px;
  border-radius: 12px;
  border: 1px solid rgba(102, 102, 102, 0.3490196078); /* Чтобы добавить рамку, укажите толщину и цвет */
  padding: 10px; /* Добавляем отступы внутри инпута */
  box-sizing: border-box; /* Учитываем padding и border внутри width и height */
  font-size: 16px; /* Размер текста */
  /* Выравнивание текста по центру */
}
.register-box .reg-info .gender {
  margin-top: 40px;
}
.register-box .reg-info .gender p {
  display: inline-block;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}
.register-box .reg-info .gender .optional-text {
  margin-left: 3px;
  color: rgba(51, 51, 51, 0.3490196078);
}
.register-box .reg-info .gender .radio-row {
  display: flex;
}
.register-box .reg-info .gender .radio-row label {
  margin-right: 10px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}
.register-box .reg-info .birthday {
  margin-top: 32px;
}
.register-box .reg-info .birthday p {
  margin: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}
.register-box .reg-info .birthday select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid rgba(102, 102, 102, 0.3490196078);
  border-radius: 12px;
  width: 180px;
  height: 56px;
}
.register-box .reg-info .birthday select:hover {
  background-color: #f0f0f0;
}
.register-box .reg-info .birthday select:focus {
  outline: none;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.register-box .reg-info .birthday select option {
  background-color: #fff;
  color: #333;
}
.register-box .reg-info .birthday select option:hover {
  background-color: #f0f0f0;
}
.register-box .reg-info .birthday .birthday-box {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}
.register-box .reg-info .birthday .checkbox-share {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
  /* Стилизация кастомного фона квадратика */
  /* Стилизация белой галочки */
  /* Отображение белой галочки при выборе */
}
.register-box .reg-info .birthday .checkbox-share input[type=checkbox] {
  display: block;
  width: 20px;
  height: 20px;
  background-color: black;
  cursor: pointer;
}
.register-box .reg-info .birthday .checkbox-share label {
  width: 80%;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  margin-left: 8px;
}
.register-box .reg-info .birthday .checkbox-share input[type=checkbox] + label::after {
  content: "✓"; /* Значение Юникода для галочки */
  font-size: 16px;
  color: white;
  display: block;
  text-align: center;
  line-height: 20px; /* Выравнивание по центру */
  visibility: hidden; /* По умолчанию скрыта */
}
.register-box .reg-info .birthday .checkbox-share input[type=checkbox]:checked + label::after {
  visibility: visible;
}
.register-box .reg-info .agree {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  margin-top: 32px;
}
.register-box .reg-info .register-btn {
  max-width: 528px;
  width: 100%;
  height: 64px;
  border-radius: 40px;
  background-color: #111111;
  opacity: 25%;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  text-decoration: none;
  margin-top: 40px;
}
.register-box .reg-info .register-btn p {
  font-size: 22px;
  color: red;
  margin-top: 3px;
}/*# sourceMappingURL=register-page.component.css.map */