<app-header></app-header>

<div class="main">
    <h1>Help Center</h1>

    <div class="search">
        <h2>Hi Andrey, how can we help?</h2>
        <div class="search-box">
            <p>Search how-tos and more</p>
            <div class="search-btn">
                <img src="../assets/images/icons/search2.svg">
            </div>
        </div>
    </div>
    
    <div class="recommended">
        <h2>Recommended for you</h2>
        <div class="items">
            <div class="item">
                <p class="status">ACTION REQUIRED</p>
                <h3 class="name">Your identity is not fully
                    verified</h3>
                <p class="description">Identity verification helps us 
                    check that you’re really you. It’s
                    one of the ways we keep 
                    FlowRent secure</p>
                <a href="#">learn more</a>
            </div>
    
            <div class="item">
                <p class="status">QUICK LINK</p>
                <h3 class="name">Finding reservation details </h3>
                <p class="description">Your Trips tab has full details,
                    receipts, and Host contact info
                    for each of your reservation </p>
                <a href="#">learn more</a>
            </div>
        </div>
       
    </div>
</div>


<div class="info">
    <div class="support">
        <h3>Support</h3>
        <a href="helpcenter">Help Center</a>
        <p>Help Center</p>
        <p>Help Center</p>
        <p>Help Center</p>
        <p>Help Center</p>
        <p>Help Center</p>
    </div>

    <div class="hosting">
        <h3>Hosting</h3>
        <p>Airbnb your home</p>
        <p>Airbnb your home</p>
        <p>Airbnb your home</p>
        <p>Airbnb your home</p>
        <p>Airbnb your home</p>
        <p>Airbnb your home</p>
    </div>

    <div class="airbnb">
        <h3>Airbnb</h3>
        <p>Newsroom</p>
        <p>Newsroom</p>
        <p>Newsroom</p>
        <p>Newsroom</p>
        <p>Newsroom</p>
        <p>Newsroom</p>

    </div>
</div>

<footer>
<p class="text">2024 blalala, Inc.</p>
<a class="terms" href="#">Terms</a>
<a class="sitemap" href="#">Sitemap</a>
<a class="privacy" href="#">Privacy</a>
<a class="choices" href="#">Your Privacy Choices</a>

<div class="temp">
    <p>USD ($)</p>
    <p>English</p>
</div>

</footer>