<div class="main">
    <h1>Help Center</h1>

    <div class="search">
        <h2>Hi Andrey, how can we help?</h2>
        <div class="search-box">
            <p>Search how-tos and more</p>
            <div class="search-btn">
                <img src="../assets/images/icons/search2.svg">
            </div>
        </div>
    </div>
    
    <div class="recommended">
        <h2>Recommended for you</h2>
        <div class="items">
            <div class="item">
                <p class="status">ACTION REQUIRED</p>
                <h3 class="name">Your identity is not fully
                    verified</h3>
                <p class="description">Identity verification helps us 
                    check that you’re really you. It’s
                    one of the ways we keep 
                    FlowRent secure</p>
                <a href="#">learn more</a>
            </div>
    
            <div class="item">
                <p class="status">QUICK LINK</p>
                <h3 class="name">Finding reservation details </h3>
                <p class="description">Your Trips tab has full details,
                    receipts, and Host contact info
                    for each of your reservation </p>
                <a href="#">learn more</a>
            </div>
        </div>
       
    </div>
</div>


<app-footer></app-footer>