<app-second-header></app-second-header> 
<div class="main">
    <h1>Account</h1>
    <div class="items">
        <div class="item">
            <img src="../assets/images/icons/note-2.svg">
            <h2>Personal info</h2>
            <p>Provide personal details and how we can reach you</p>
        </div>
        <div class="item">
            <img src="../assets/images/icons/note-2.svg">
            <h2>Notifications</h2>
            <p>Choose notification preference</p>
        </div>
        <div class="item">
            <img src="../assets/images/icons/note-2.svg">
            <h2>Login & security</h2>
            <p>Update yuor password and secure your account</p>
        </div>
        <div class="item">
            <img src="../assets/images/icons/note-2.svg">
            <h2>Personal info</h2>
            <p>Provide personal details and how we can reach you</p>
        </div>
    </div>
</div>

<app-footer></app-footer>