/* You can add global styles to this file, and also import other style files */
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

body {
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-text-field-wrapper {
    background-color: white !important;
    border-bottom: none !important;
    --mdc-filled-text-field-active-indicator-height: 0px;
}

.mat-mdc-form-field-focus-overlay {
  background-color: white !important;
  border-bottom: none !important;
}

.mdc-text-field--filled {
    --mdc-filled-text-field-active-indicator-height: 0px;
}