<div class="main">
    <h1>For guests</h1>
    <img src="https://s3-alpha-sig.figma.com/img/93aa/5757/438ad3641ec58773c6c4837d947e7a01?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=J6JpaQi-Mai3Xl9iVdqiXICTQS8Z1q7mZWdRxvoMdBNp1SNJVKzHd4Puwg9U7XVjk33BAdoWSePXrzDiJKNXfTZrd6THvnw8M28yeKFSTdN8~3yEuB4bAr1KW5KK-2VcUmg08jVdzwEngkIkTT5esth~WWJCiZHoWs2t0oklyGtNm7hLr04Iu4Vpm1VNbaireC5OBLwrBUGewVBvl~HdIbgd5AaK0O6pHMDvH7EMMXM3F3ZIcqNu4hOg8WJnDtKANmlCq1LUo52Ei0j4yitRx~pyvvWjISCeOaABFjBsLF3Q4Sjo9dZsCT-A-7vuMVQZEndaomNlAt5YcUsJX6ocLA__">
    <p>Every booking comes with AirCover for guests. If there’s a serious
    issue with your Airbnb that your Host can't resolve, we’ll help you find
    a similar place, depending on availability at comparable pricing. If a
    similar place isn’t available or you’d prefer not to rebook, we’ll give
    you a full or partial refund.<br>
    If anything comes up, your Host is your best point of contact; it’s 
    likely they’ll be able to fix it. You can message your Host directly 
    from your inbox to let them know what’s going on
    </p>
    <h2>Host cancellations</h2>
    <p>If your Host cancels within 30 days of check-in, we’ll help you find a
    similar place, depending on availability at comparable pricing. 
    If a similar place isn’t available or you’d prefer not to rebook, 
    we’ll give you a refund<p>
</div>

<app-footer></app-footer>
