

.main {
    margin-left: 416px;
    margin-top: 64px;
    width: 700px;
    font-family: "Montserrat", sans-serif;
    img {
        width: 694px;
        height: 450px;
    }

    p {
        font-size: 20px;
        color: #717171;
        margin-top: 24px;
    }

    h2 {
        margin-top: 42px;
        font-size: 24px;
    }
}